<app-sidebar-dialog-layout
  [config]="dialogConfig"
  (save)="save()"
  (close)="close()"
  (sectionChange)="onSectionChange($event)"
  (customButtonClick)="onCustomButtonClick($event)"
  (actionClick)="onActionClick($event)">

  <div class="edit-selected-content">

    <div class="section-content">


      @switch (activeSection()) {

        @case (EditSelectedDialogSections.reindex) {

          <!-- Reindex Section -->
          <app-edit-reindex-section
            [selectedIds]="data.selectedIds"
            (dataChange)="onReindexDataChange($event)">
          </app-edit-reindex-section>

        }

        @case (EditSelectedDialogSections.addCollection) {

          <app-add-collection-section
            [selectedIds]="data.selectedIds"
          ></app-add-collection-section>


        }

        @case (EditSelectedDialogSections.removeCollection) {
          <app-remove-collection-section
            [selectedIds]="data.selectedIds"
          ></app-remove-collection-section>
        }

        @case (EditSelectedDialogSections.addLicence) {
          <app-add-license-section
            [selectedIds]="data.selectedIds"
            (dataChange)="onAddLicenseDataChange($event)">
          </app-add-license-section>
        }

        @case (EditSelectedDialogSections.removeLicence) {
          <app-remove-license-section
            [selectedIds]="data.selectedIds"
            (dataChange)="onRemoveLicenseDataChange($event)">
          </app-remove-license-section>
        }

      }

    </div>

<!--    &lt;!&ndash; Collections Section &ndash;&gt;-->
<!--    <div *ngIf="activeSection() === 'add-collection'" class="section-content">-->
<!--      <app-edit-collections-section-->
<!--        [selectedIds]="data.selectedIds"-->
<!--        (dataChange)="onCollectionsDataChange($event)">-->
<!--      </app-edit-collections-section>-->
<!--    </div>-->

    <!-- Licence Section -->
    <div *ngIf="activeSection() === 'licence'" class="section-content">
      <app-edit-licence-section
        [selectedIds]="data.selectedIds"
        (dataChange)="onLicenceDataChange($event)">
      </app-edit-licence-section>
    </div>

  </div>

</app-sidebar-dialog-layout>
