.edit-selected-content, .section-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x4);
}

h3 {
  font-size: var(--font-size-large);
  font-weight: 600;
  margin: 0 0 var(--spacing-x2) 0;
  color: var(--color-text-primary);
}
