<div class="tabs-header">
  @for (tab of tabs; track tab; let i = $index) {
    <button
      class="tab-button"
      [class.active]="i === activeTabIndex()"
      [appCdkTooltip]="tab.tooltip"
      (click)="selectTab(i)">
      @if (tab.icon) {
        <i [class]="tab.icon"></i>
      }
      @if (!tab.onlyIcon) {
        {{ tab.label }}
      }
    </button>
  }
</div>

<div class="tabs-common">
  <ng-content select="[tab-common-up]"></ng-content>
</div>

@if (tabs.length) {

  <div class="tabs-content">
    <ng-container
      *ngTemplateOutlet="tabs[activeTabIndex()]?.content || null">
    </ng-container>
  </div>

}

<div class="tabs-common">
  <ng-content select="[tab-common-down]"></ng-content>
</div>
