<div class="tabs-header">
  <button
    *ngFor="let tab of tabs; let i = index"
    class="tab-button"
    [class.active]="i === activeTabIndex()"
    (click)="selectTab(i)">
    {{ tab.label }}
  </button>
</div>

<div class="tabs-common">
  <ng-content select="[tab-common-up]"></ng-content>
</div>

@if (tabs.length) {

  <div class="tabs-content">
    <ng-container
      *ngTemplateOutlet="tabs[activeTabIndex()]?.content || null">
    </ng-container>
  </div>

}

<div class="tabs-common">
  <ng-content select="[tab-common-down]"></ng-content>
</div>
