.pagination-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  color: var(--color-text-light);
}

.results-range {
  padding: 5px 10px;
}
