<table class="track-table">
  <thead>
  <tr>
    <th>#</th>
    <th>Název</th>
    <th>Délka</th>
    <th>Akce</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let track of tracks; let i = index">
    <tr (click)="onSelect(track.pid)">
      <app-music-track-item
        [track]="track"
        [index]="i"
        [selectedPid]="selectedPid"
        [playingPid]="playingPid"
        (trackSelected)="onSelect($event)"
        (toggleFavoriteClicked)="onFavoriteToggled($event)"
        (addToQueueClicked)="onAddToQueue($event)"
        (downloadClicked)="onDownload($event)"
      ></app-music-track-item>
    </tr>
  </ng-container>
  </tbody>
</table>
