<table class="track-table">
  <thead>
  <tr>
    <th>#</th>
    <th>Název</th>
    <th>Délka</th>
    <th>Akce</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let track of tracks; let i = index"
      (click)="onSelect(track)"
      app-music-track-item
      [track]="track"
      [index]="i"
      [selectedPid]="selectedPid"
      [playingPid]="playingPid"
      (toggleFavoriteClicked)="onFavoriteToggled($event)"
      (addToQueueClicked)="onAddToQueue($event)"
      (downloadClicked)="onDownload($event)"
  ></tr>
  </tbody>
</table>
