<table class="track-table">
  <thead>
  <tr>
    <th>#</th>
    <th>{{'track-list-table--title' | translate}}</th>
    <th>{{'track-list-table--duration' | translate}}</th>
    <th>{{'track-list-table--actions' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let track of tracks; let i = index"
      (click)="onSelect(track)"
      app-music-track-item
      [class.playing]="track.pid === playingPid"
      [track]="track"
      [index]="i"
      [selectedPid]="selectedPid"
      [playingPid]="playingPid"
      (toggleFavoriteClicked)="onFavoriteToggled($event)"
      (addToQueueClicked)="onAddToQueue($event)"
      (downloadClicked)="onDownload($event)"
  ></tr>
  </tbody>
</table>
