.epub-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-base);
  padding: var(--spacing-x3);
  // Extra right padding to prevent text from going under the viewer controls
  padding-right: calc(var(--viewer-controls-width) + var(--spacing-x4) + var(--spacing-x3) + var(--spacing-x3));
}

.epub-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* Styles can be manipulated per iframe rendering internally by epub.js */
}
