<td class="record-title">
  <!-- Selection checkbox for admin mode -->
  <div class="record-row-selection" *ngIf="selectionService.selectionMode()">
    <app-checkbox
      [model]="selectionService.isSelected(record.pid)"
      (modelChange)="onSelectionChange($event)"
      (click)="$event.stopPropagation()">
    </app-checkbox>
  </div>

  <a class="title-wrapper" [href]="url"
  [class.selection-mode]="selectionService.selectionMode()"
  (click)="onTitleClick($event)"
  >
    <div class="thumb-wrapper">
      <img
        class="thumb"
        [src]="`${getKrameriusBaseUrl()}`"
        alt="thumbnail"
      />

      <ng-container *ngIf="recordHandler.isRecordLocked(record.containsLicenses || record.licenses || [])">
        <div class="record-item-card__image-lock-overlay">
          <button class="button secondary rounded icon-button" [attr.aria-label]="'document-locked--button'">
            <i class="icon-lock-1"></i>
          </button>
        </div>
      </ng-container>
    </div>

    <div>
      <div class="title" [title]="(record && record.title) || ''">
        {{ (record.title && record.title.length > 80) ? (record.title.slice(0, 80) + '...') : record.title }}
      </div>
    </div>
  </a>
</td>

<td>
  <ng-container *ngIf="record.authors && record.authors?.length; else noAuthors">
    {{ record.authors.join(', ').length > 35 ? (record.authors.join(', ').slice(0, 35) + '...') : record.authors.join(', ') }}
  </ng-container>

  <ng-template #noAuthors>
    <span class="author-not-filled flex flex--align-center flex--gap-x1">{{'author-not-filled' | translate}} <i class="icon-question"></i></span>
  </ng-template>
</td>

<td>{{ record.date || '—' }}</td>

<td>
  <app-accessibility-badge [isLocked]="recordHandler.isRecordLocked(record.containsLicenses || record.licenses || [])"></app-accessibility-badge>
</td>

<td>{{ record.model | translate }}</td>

<td>
  {{record.count_page ? (record.count_page | pluralize:'count-pages') : '—'}}
</td>

<td>
  <ng-container *ngFor="let lang of record.languages">
    <img
      *ngIf="languageMap[lang]"
      [src]="'/img/flags/flag_' + languageMap[lang] + '.png'"
      [alt]="lang"
      class="flag"
    />
  </ng-container>
  <ng-container *ngIf="!record.languages || record.languages.length === 0">
    -
  </ng-container>
</td>
