<td class="record-title">
  <a class="title-wrapper" [href]="url"
  (click)="recordHandler.onNavigate($event, url)"
  >
    <div class="thumb-wrapper">
      <img
        class="thumb"
        [src]="`${getKrameriusBaseUrl()}`"
        alt="thumbnail"
      />

      <ng-container *ngIf="record.accessibility === DocumentAccessibilityEnum.PRIVATE">
        <div class="record-item-card__image-lock-overlay">
          <button class="button secondary rounded icon-button">
            <i class="icon-lock-1"></i>
          </button>
        </div>
      </ng-container>
    </div>

    <div>
      <div class="title" [title]="record.title">
        {{ record.title.length > 80 ? (record.title.slice(0, 80) + '...') : record.title }}
      </div>
    </div>
  </a>
</td>

<td>
  <ng-container *ngIf="record.authors && record.authors?.length; else noAuthors">
    {{ record.authors.join(', ').length > 35 ? (record.authors.join(', ').slice(0, 35) + '...') : record.authors.join(', ') }}
  </ng-container>

  <ng-template #noAuthors>
    <span class="author-not-filled flex flex--align-center flex--gap-x1">{{'author-not-filled' | translate}} <i class="icon-question"></i></span>
  </ng-template>
</td>

<td>{{ record.date || '—' }}</td>

<td>
  <app-accessibility-badge [accessibility]="record.accessibility"></app-accessibility-badge>
</td>

<td>{{ record.model | translate }}</td>

<td>
  {{record.count_page ? record.count_page : '—'}}
</td>

<td>
  <ng-container *ngFor="let lang of record.languages">
    <img
      *ngIf="languageMap[lang]"
      [src]="'/img/flags/flag_' + languageMap[lang] + '.png'"
      [alt]="lang"
      class="flag"
    />
  </ng-container>
  <ng-container *ngIf="!record.languages || record.languages.length === 0">
    -
  </ng-container>
</td>
