<div class="folder-share">
  <h2 class="folder-share--title">
    {{ 'folder-share-dialog--header' | translate: { name: folderName } }}
    <button class="button link tertiary icon-button close-button" (click)="onClose()">
      <i class="icon-close"></i>
    </button>
  </h2>

  <p class="folder-share--description">{{ 'folder-share-dialog--description' | translate }}</p>

  <div class="folder-share--url-row">
    <app-input
      class="folder-share--url-input"
      theme="dark"
      [readonly]="true"
      [withIcons]="false" [size]="'sm'"
      [initialValue]="shareUrl"
    ></app-input>

    <button class="button primary with-icon folder-share--copy-button" (click)="copyToClipboard()">
      <i class="icon-copy"></i>
      {{ 'folder-share-dialog--copy-link' | translate }}
    </button>
  </div>

  <div class="folder-share--note">
    <i class="icon-info folder-share--note-icon" aria-hidden="true"></i>

    <div class="folder-share--note-text">
      <p>
        <strong class="highlighted">{{ 'folder-share-dialog--note-unsigned-label' | translate }}</strong>
        {{ 'folder-share-dialog--note-unsigned-text' | translate }}
      </p>
      <p>
        <strong class="highlighted">{{ 'folder-share-dialog--note-signed-label' | translate }}</strong>
        {{ 'folder-share-dialog--note-signed-text' | translate }}
      </p>
    </div>
  </div>
</div>
