.badge.model {
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 16px;
  padding: 2px 4px;
  border-radius: var(--spacing-x1);
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-x1);
  white-space: nowrap;
  color: var(--color-text-on-color);

  &.monograph { background-color: var(--color-bg-tag-monograph); }
  &.monograph-multivolume { background-color: var(--color-bg-tag-monograph-multivolume); }
  &.monographunit { background-color: var(--color-bg-tag-monographunit); }
  &.periodical { background-color: var(--color-bg-tag-periodical); }
  &.periodicalitem { background-color: var(--color-bg-tag-periodicalitem); }
  &.periodicalvolume { background-color: var(--color-bg-tag-periodicalvolume); }
  &.supplement { background-color: var(--color-bg-tag-supplement); }
  &.article { background-color: var(--color-bg-tag-article); }
  &.sheetmusic { background-color: var(--color-bg-tag-sheetmusic); }
  &.soundrecording { background-color: var(--color-bg-tag-soundrecording); }
  &.convolute { background-color: var(--color-bg-tag-convolute); }
  &.collection { background-color: var(--color-bg-tag-collection); }
  &.graphic { background-color: var(--color-bg-tag-graphic); }
  &.map { background-color: var(--color-bg-tag-map); }
  &.archive { background-color: var(--color-bg-tag-archive); }
  &.manuscript { background-color: var(--color-bg-tag-manuscript); }
  &.page { background-color: var(--color-bg-tag-page); }
}
