<div class="filter-row">

  <div class="filter-wrapper">

    <app-select
      [options]="filterTypes"
      [value]="selectedFilterTypeOption()"
      [displayFn]="filterTypeDisplayFn"
      (valueChange)="onFilterTypeChange($event.key)">
    </app-select>

    <ng-container [ngSwitch]="filter.key">
      <app-autocomplete
        *ngIf="filter.inputType === AdvancedFilterType.Autocomplete"
        [initialValue]="filter.value"
        [placeholder]="filter.key"
        [showHelpButton]="false"
        [showMicrophoneButton]="false"
        [showSubmitButton]="false"
        (search)="emitChange()"
        (suggestionSelected)="suggestionSelected($event)"
        [getSuggestions]="getSuggestionsFn"
      ></app-autocomplete>
    </ng-container>
  </div>

  <button (click)="remove.emit()" class="remove-button">
    <i class="icon-trash"></i>
  </button>
</div>
