<app-detail-layout [constrainBottomToolbar]="true">

  <ng-container left-sidebar>

    <div class="sidebar--container" *ngIf="detailViewService.document$ | async as document">

      <ng-container *ngIf="document.model === DocumentTypeEnum.soundrecording">
        <div class="sidebar--wrapper">
          <app-input
            [placeholder]="'search-in-document--placeholder' | translate"
            [theme]="'dark'"
            [size]="'sm'"
            [showMicButton]="true"
          ></app-input>

          <ng-container *ngIf="detailViewService.soundRecordingViewMode() === 'images'">
            <hr>
            <app-page-navigator
              [currentPage]="detailViewService.currentPageIndex + 1"
              [totalPages]="detailViewService.totalPages"
              (next)="detailViewService.goToNext()"
              (prev)="detailViewService.goToPrevious()"
              (pageChange)="detailViewService.goToPage($event)"
            ></app-page-navigator>
          </ng-container>

          <div class="sidebar--wrapper--scroll-content">
            <app-detail-pages-grid [type]="'recording'"></app-detail-pages-grid>
          </div>
        </div>
      </ng-container>

      <app-tabs *ngIf="document.model !== DocumentTypeEnum.soundrecording">
        <app-tab-item label="Stránky">
          <div class="sidebar--wrapper">

            <div class="flex flex--align-center flex--justify-space-between mb-2 w-100 max-width-100 flex--wrap">
              <app-admin-actions></app-admin-actions>
            </div>

            <app-input
              [placeholder]="'search-in-document--placeholder' | translate"
              [theme]="'dark'"
              [size]="'sm'"
              [showMicButton]="true"
            ></app-input>
            <hr>
            <app-page-navigator
              [currentPage]="detailViewService.currentPageIndex + 1"
              [totalPages]="detailViewService.totalPages"
              (next)="detailViewService.goToNext()"
              (prev)="detailViewService.goToPrevious()"
              (pageChange)="detailViewService.goToPage($event)"
            ></app-page-navigator>
            <div class="sidebar--wrapper--scroll-content">
              <app-detail-pages-grid [type]="'page'"></app-detail-pages-grid>
            </div>
          </div>
        </app-tab-item>
<!--        <app-tab-item label="Články">-->
<!--        </app-tab-item>-->
<!--        <app-tab-item label="Obrázky">-->
<!--        </app-tab-item>-->
      </app-tabs>
    </div>
  </ng-container>

  <ng-container main-content>
    <ng-container *ngIf="detailViewService.document$ | async as document">
      <app-action-toolbar [hasCenterContent]="document?.rootModel === DocumentTypeEnum.periodical">
        <div class="max-width-100" left>
          <app-toolbar-header
            [title]="document?.mainTitle || ''"
            [showBackButton]="recordHandler.shouldShowBackButton(document)"
            (titleClick)="recordHandler.clickedToolbarTitle(document.model, document.rootPid)"
            (goBack)="recordHandler.goBackClicked(document)">
          </app-toolbar-header>
        </div>
        <div center>
    <ng-container *ngIf="document.model === DocumentTypeEnum.periodicalitem">
      <app-date-navigator
        [value]="document.dateStr || ''"
        [enableCalendarPopup]="true"
        [periodicalChildren]="(detailViewService.periodicalChildren$ | async) || []"
        (goToPrevious)="detailViewService.goToPreviousPeriodicalIssue()"
        (goToNext)="detailViewService.goToNextPeriodicalIssue()"
        (dateSelected)="detailViewService.navigateToDate($event.pid, $event.year)"
      >
      </app-date-navigator>
    </ng-container>
        </div>
        <div right>
          <div class="flex flex--align-center">
            <app-toolbar-controls
              [showViewToggle]="document.model === DocumentTypeEnum.soundrecording"
              [viewToggleOptions]="[
                { label: 'Nahrávky', icon: 'icon-music-filter', value: 'records' },
                { label: 'Obrázky', icon: 'icon-gallery', value: 'images' }
              ]"
              [showFavorites]="false"
              [showShare]="true"
              [showQuote]="true"
              [showInfo]="true"
              [showEdit]="true"
              (infoClicked)="detailViewService.openRecordInfo()"
              [activeViewValue]="detailViewService.soundRecordingViewMode()"
              (viewChanged)="detailViewService.setSoundRecordingViewView($event)"
              (shareClicked)="recordHandler.openShareDialog(document)"
              (quoteClicked)="recordHandler.openCitationDialog(document)">
            </app-toolbar-controls>
          </div>
        </div>
      </app-action-toolbar>

      <div class="detail-view--page--content--body">
        <div class="detail-view--page--content--wrapper">
          <img *ngIf="detailViewService.currentPagePid && !(detailViewService.loading$ | async)" [src]="`${getKrameriusBaseUrl()}items/${detailViewService.currentPagePid}/image`" alt="Náhľad dokumentu"
               class="app-document-thumbnail">
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container bottom-toolbar>
    <app-detail-view-bottom-toolbar></app-detail-view-bottom-toolbar>
  </ng-container>
</app-detail-layout>
