<div class="detail-view--page"
     tabindex="0"
  (keydown)="keydownHandler($event)"
>

  <div class="detail-view--page--inner">

    <app-filter-sidebar [padding]="'0'" [scrollable]="false">

      <app-tabs>

        <app-tab-item label="Stránky">

          <div class="sidebar--wrapper">

            <app-input
              [placeholder]="'Hledat v dokumentu'"
              [theme]="'dark'"
              [size]="'sm'"
              [showMicButton]="true"
            ></app-input>

            <hr>

            <app-page-navigator
              [currentPage]="detailViewService.currentPageIndex + 1"
              [totalPages]="detailViewService.totalPages"
              (next)="detailViewService.goToNext()"
              (prev)="detailViewService.goToPrevious()"
              (pageChange)="detailViewService.goToPage($event)"
            ></app-page-navigator>

            <div class="sidebar--wrapper--scroll-content">

              <app-detail-pages-grid></app-detail-pages-grid>

            </div>

          </div>

        </app-tab-item>

        <app-tab-item label="Články">

        </app-tab-item>

        <app-tab-item label="Obrázky">

        </app-tab-item>

      </app-tabs>

    </app-filter-sidebar>

    <div class="detail-view--page--content">

      <!-- Action Toolbar -->
      <app-action-toolbar>

        <div class="max-width-100" left>
          <app-toolbar-header
            [title]="(detailViewService.document$ | async)?.rootTitle || ''"
            (goBack)="goBackClicked()">
          </app-toolbar-header>
        </div>


        <div center #centerContent>

          <app-date-navigator
            *ngIf="(detailViewService.document$ | async)?.rootModel === DocumentTypeEnum.periodical"
            [value]="detailViewService.getCurrentPageDate() || ''"
            (goToPrevious)="detailViewService.goToPrevious()"
            (goToNext)="detailViewService.goToNext()">
          </app-date-navigator>

        </div>

        <div right>

          <div class="flex flex--align-center">

            <app-toolbar-controls
              [showCalendarGridControls]="false"
              [showFavorites]="false"
              [showShare]="true"
              [showQuote]="true"
              [showInfo]="true"
              (infoClicked)="detailViewService.openRecordInfo()"
            >
            </app-toolbar-controls>

          </div>

        </div>

      </app-action-toolbar>

      <div class="detail-view--page--content--body">

        <div class="detail-view--page--content--wrapper">

          <ng-container *ngIf="detailViewService.document$ | async as doc">

            <img [src]="`${getKrameriusBaseUrl()}/items/${detailViewService.currentPagePid}/image`" alt="Náhľad dokumentu"
                 class="app-document-thumbnail">

          </ng-container>

        </div>

        <app-detail-view-bottom-toolbar></app-detail-view-bottom-toolbar>

      </div>

    </div>

  </div>

</div>
