:host {
  display: block;
  width: 100%;
}

.toolbar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

h2.title {
  margin: 0;
  font-weight: normal;
  font-size: calc(22px * var(--accessibility-text-scale));
  line-height: 36px;
  color: var(--color-text-base);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  flex: 1;
  min-width: 0;
  cursor: default;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
