@use "typography" as t;

:host {
  display: block;
  width: 100%;
}

.toolbar-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-x1);
  width: 100%;

  button {
    font-size: var(--font-size-xlarge);
    padding: var(--spacing-x1);

    &:hover {
      color: var(--color-text-link);
    }
  }
}

h2.title {
  margin: 0;
  font-weight: 500;
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-4);
  color: var(--color-text-base);
  font-family: t.$font-family-body;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  flex: 1;
  min-width: 0;
  cursor: default;

  &.cursor-pointer {
    cursor: pointer;

    &:hover {
      color: var(--color-text-link);
      text-decoration: underline;
    }
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-x2);
  flex-shrink: 0;
}
