.toolbar-controls {
  display: flex;
  align-items: center;
  gap: var(--spacing-x2);
  height: var(--toolbar-height);
  overflow: visible;
}

.toggle--container {
  display: flex;
  align-items: center;
}

.view-toggle {
  position: relative;
  color: var(--color-text-tertiary);
  display: flex;
  align-items: center;
  gap: var(--spacing-x2);
  padding: var(--spacing-x3) var(--spacing-x4);
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: var(--line-height-xs);
  white-space: nowrap;

  &.active {
    color: var(--color-text-base);

    i {
      color: var(--color-primary);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      right: 0;
      height: 2px;
      width: 100%;
      background-color: var(--color-primary);
    }
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: var(--spacing-x2);

  &.link.tertiary {
    color: var(--color-primary);
    padding: var(--spacing-x2);
    font-size: var(--font-size-base);
    //border-left: 1px solid var(--color-border-light);
  }

  i {
    font-size: var(--font-size-base);
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// Mobile menu mode
.mobile-menu-trigger {
  &.active {
    background: var(--color-primary-pressed);
  }
}
