<div class="toolbar-controls">

  <ng-container *ngIf="showViewToggle && viewToggleOptions.length > 0">
    <div class="toggle--container">
      <div
        class="view-toggle"
        *ngFor="let option of viewToggleOptions"
        [class.active]="activeViewValue === option.value"
        (click)="onToggle(option)">
        <i class="{{ option.icon }}"></i> {{ option.label | translate }}
      </div>
    </div>
  </ng-container>

  <!-- Configuration-based action buttons -->
  <button
    *ngFor="let action of mergedActions"
    class="icon-button link tertiary"
    [class.disabled]="action.disabled"
    [disabled]="action.disabled"
    [title]="action.tooltip"
    (click)="onActionClick(action)"
  >
    <i [class]="action.icon"></i>
  </button>

</div>
