<div class="app-settings-section">

  @if (authService.user$ | async; as user) {
  <div class="app-settings-account-info">
    <div class="user-row">
      <span class="user-name">
        {{ user.name }}
      </span>
      <button class="outlined light with-icon logout-button" (click)="logout()">
        <i class="icon-logout"></i>
        {{'user-info--logout' | translate }}
      </button>
    </div>

    <div class="user-contact">
      <div class="contact-item">
        <i class="icon-sms"></i>
        <span>{{ user.email }}</span>
      </div>
    </div>

    <div class="actions">
      <button class="button tertiary outlined sm with-icon" (click)="openAuthDataDialog()">
        <i class="icon-code-3"></i>
        {{ 'auth-data-dialog--header' | translate }}
      </button>
    </div>

  </div>
  }
</div>
