<label *ngIf="showLabel">
  {{ label | translate}}
</label>

<div class="toggle-group" [ngClass]="size" role="group">
  <button
    *ngFor="let option of options"
    type="button"
    class="toggle-btn"
    [class.active]="option.value === value"
    (click)="select(option)"
  >
    <i *ngIf="option.icon" [ngClass]="option.icon" [style.color]="'var(' + option.iconColor + ')'"></i>

    <ng-container *ngIf="option.label">
      {{ option.label | translate }}
    </ng-container>
  </button>
</div>
