:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: var(--font-size-small);
  color: var(--color-text-light);
  line-height: 20px;
}

.toggle-group {
  display: inline-flex;
  background-color: var(--color-bg-light);
  border-radius: var(--base-border-radius);
  padding: 2px;
  gap: 2px;
  flex-wrap: wrap;
}

.toggle-btn {
  border: none;
  background: transparent;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: var(--font-size-small);
  cursor: pointer;
  color: var(--color-text-light);
  display: flex;
  gap: var(--spacing-x2);

  &.active {
    background-color: var(--color-bg-base);
    color: var(--color-text-base);
  }

  &:hover:not(.active) {
    background-color: #e9eff5;
  }
}

.toggle-group.lg {

  .toggle-btn {
    padding: var(--spacing-x4) var(--spacing-x5);
  }
}
