:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: var(--font-size-small);
  color: var(--color-text-light);
  line-height: var(--line-height-1);
}

.toggle-group {
  display: inline-flex;
  background-color: var(--color-bg-light);
  border-radius: var(--base-border-radius);
  padding: 2px;
  gap: 4px;
  //flex-wrap: wrap;
}

.toggle-btn {
  border: none;
  background: transparent;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: var(--font-size-base);
  cursor: pointer;
  color: var(--color-text-light);
  display: flex;
  gap: var(--spacing-x2);

  &.active {
    background-color: var(--color-bg-base);
    color: var(--color-text-base);
  }

  &:hover:not(.active) {
    background-color: #e9eff5;
  }
}

.toggle-group.sm {
  .toggle-btn {
    font-size: var(--font-size-small);
    padding: var(--spacing-x1) var(--spacing-x2);
    line-height: var(--line-height-1);
  }
}

.toggle-group.lg {

  .toggle-btn {
    padding: var(--spacing-x4) var(--spacing-x5);
  }
}
