<app-sidebar-dialog-layout
  [config]="dialogConfig"
  (close)="close()"
  (sectionChange)="onSectionChange($event)"
  (customButtonClick)="onCustomButtonClick($event)">

  <div class="export-selected-content">

    <!-- CSV Export Section -->
    <div *ngIf="activeSection() === 'csv'" class="section-content">
      <app-export-csv-section 
        [selectedIds]="data.selectedIds"
        (dataChange)="onCsvSectionChange($event)">
      </app-export-csv-section>
    </div>

    <!-- XML Export Section -->
    <div *ngIf="activeSection() === 'xml'" class="section-content">

    </div>

    <!-- DL4DH Export Section -->
    <div *ngIf="activeSection() === 'dl4dh'" class="section-content">

    </div>


  </div>

</app-sidebar-dialog-layout>
