<section class="search-by-image-section">

  <div class="search-by-image-section__content">

    <h2>{{'search-images-by-title' | translate}}</h2>

    <button class="button primary">
      {{'search-image-button' | translate}}

      <i class="icon-arrow-right"></i>

    </button>

    <div class="search-tags">
      <span class="tag">{{ 'horse' | translate }}</span>
      <span class="tag">{{ 'belgian-stallion' | translate }}</span>
      <span class="tag">{{ 'polish-horse' | translate }}</span>
      <span class="tag">{{ 'bavarian-horse' | translate }}</span>
      <span class="tag">{{ 'mare' | translate }}</span>
      <span class="tag">{{ 'stallion' | translate }}</span>
      <span class="tag">…</span>
    </div>

  </div>

  <div class="search-by-image-section__images">
    <div class="image-container" [style.background-image]="'url(img/search-by-image-3.png)'"></div>
    <div class="image-container" [style.background-image]="'url(img/search-by-image-2.png)'"></div>
    <div class="image-container" [style.background-image]="'url(img/search-by-image-1.png)'"></div>
  </div>

</section>
