<a class="page--item"
   [ngClass]="'type-' + type"
   [class.selected]="isSelected"
   [class.admin-mode]="selectionService.selectionMode()"
   [class.admin-selected]="selectionService.selectionMode() && selectionService.isSelected(page.pid)"
   (click)="onPageClicked($event)">

  <!-- Selection checkbox for admin mode -->
  <div class="page--item__selection" *ngIf="selectionService.selectionMode()">
    <app-checkbox
      [model]="selectionService.isSelected(page.pid)"
      (modelChange)="onSelectionChange($event)"
      (click)="$event.stopPropagation()">
    </app-checkbox>
  </div>

  <img
    class="page--item__image"
    [src]="`${getImageUrl()}`"
    loading="lazy"
  />

  <span class="page--number" *ngIf="!selectionService.selectionMode() && pageNumber">
    {{pageNumber}}
  </span>

</a>
