:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x4);
}

.sort--container {
  display: inline-flex;
  margin-left: auto;
}

.year-section {
  margin-bottom: var(--spacing-x6);
}

.year-header {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-4);
  font-weight: 600;
  color: var(--color-text-base);
  margin-bottom: var(--spacing-x4);
}