<div class="pdf-controls">
  <button (click)="onZoomIn()" title="Zoom In">
    <i class="icon icon-search-zoom-in"></i>
  </button>
  <button (click)="onZoomOut()" title="Zoom Out">
    <i class="icon icon-search-zoom-out"></i>
  </button>
  <button (click)="onFitToScreen()" title="Fit to screen">
    <i class="icon icon-maximize-3"></i>
  </button>
  <button (click)="onScrollMode()" title="Toggle Scroll Mode">
    <i class="icon icon-pharagraphspacing"></i>
  </button>
  <button (click)="onGridView()" title="Toggle Grid View">
    <i class="icon icon-grid-lock"></i>
  </button>
  <button (click)="onRotate()" title="Rotate">
    <i class="icon icon-rotate-right"></i>
  </button>
  <button (click)="onTextView()" title="Toggle Text View">
    <i class="icon icon-text"></i>
  </button>
  <button (click)="onBookMode()" title="Book mode">
    <i class="icon icon-book"></i>
  </button>
</div>
