.pdf-controls {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-base);
  border-radius: 12px;
  padding: 8px;
  gap: 8px;
  align-items: center;
  justify-content: center;

  button {
    width: 32px;
    height: 32px;
  }
}
