<div class="pdf-controls">
  <button (click)="onZoomIn()" class="button tertiary outlined" title="Zoom In">
    <i class="icon icon-search-zoom-in"></i>
  </button>
  <button (click)="onZoomOut()" class="button tertiary outlined" title="Zoom Out">
    <i class="icon icon-search-zoom-out"></i>
  </button>
  <button (click)="onFitToScreen()" class="button tertiary outlined" title="Fit to screen">
    <i class="icon icon-maximize-3"></i>
  </button>
  <button (click)="onScrollMode()" class="button tertiary outlined" title="Toggle Scroll Mode">
    <i class="icon icon-pharagraphspacing"></i>
  </button>
  <button (click)="onGridView()" class="button tertiary outlined" title="Toggle Grid View">
    <i class="icon icon-grid-lock"></i>
  </button>
  <button (click)="onRotate()" class="button tertiary outlined" title="Rotate">
    <i class="icon icon-rotate-right"></i>
  </button>
  <button (click)="onTextView()" class="button tertiary outlined" title="Toggle Text View">
    <i class="icon icon-text"></i>
  </button>
  <button (click)="onBookMode()" class="button tertiary outlined" title="Book mode">
    <i class="icon icon-book"></i>
  </button>
</div>
