<div class="page-container">
  <div class="page-container__inner">

    <app-filter-sidebar [isDisabled]="selectionService.selectionMode()">
      <app-collection-filters></app-collection-filters>
    </app-filter-sidebar>

    <div class="page-content">

      <div class="page-content__filters">

        <!-- Action Toolbar -->
        <app-action-toolbar>
          @if (collectionsService.detail$ | async; as metadata) {

            <div class="max-width-100" left>
              <app-toolbar-header
                [showBackButton]="false"
                [title]="getLocalizedTitle(metadata)">

<!--                &lt;!&ndash; Show admin actions when in SearchResults mode and admin mode is active &ndash;&gt;-->
<!--                <app-admin-actions-->
<!--                  *ngIf="selectionService.selectionMode()"-->
<!--                  (exportRequested)="onExportSelected()"-->
<!--                  (editRequested)="onEditSelected($event)">-->
<!--                </app-admin-actions>-->

              </app-toolbar-header>
            </div>

          }
        </app-action-toolbar>

      </div>

      <!-- Content rendering based on view mode -->
      <div class="page-content__wrapper">

        <!-- Breadcrumbs Navigation -->
<!--        <app-breadcrumbs></app-breadcrumbs>-->

        <app-selected-tags
          *ngIf="((collectionsService.selectedTags | async) || []).length > 0"
          [items]="(collectionsService.selectedTags | async) || []"
          [operators]="(collectionsService.getFiltersWithOperators() | async) || {}"
          [showOperators]="false"
          [translateItems]="true"
          (remove)="collectionsService.removeFilter($event)"
          (removeGroup)="collectionsService.resetOperator($event)"
          (clearAll)="collectionsService.clearAllFilters()"
          clearButtonPosition="left">
        </app-selected-tags>

        @if (collectionsService.detail$ | async; as metadata) {

          {{ getLocalizedDescription(metadata) }}

        }

        <div>

          @if (!(collectionsService.loading$ | async)) {

            <div class="grid--container">

              <app-record-item *ngFor="let doc of collectionsService.searchResults$ | async" [item]="toRecordItem(doc)"></app-record-item>

            </div>

          } @else {
            <div class="loading-container">
              <div class="loading-message">
                <p>{{ 'loading-search-results' | translate }}</p>
              </div>
            </div>
          }

        </div>

      </div>

    </div>
  </div>
</div>
