@use "mixins" as *;

:host {
  height: 80vh;
  overflow: hidden;
  background-color: var(--color-bg-base);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;

  @include respond(md) {
    height: 100%;
    border-radius: 0;
  }
}

h2 {
  padding: 24px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h6 {
  margin: 0;
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: var(--line-height-2);
  color: var(--color-text-base);
}

p {
  margin: 0;
}

hr {
  margin: 0;
  border-color: var(--color-border-bright);
}

.close-button {
  font-size: var(--font-size-xxlarge);
  padding: 5px;
}

.advanced-search-dialog {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.advanced-search-dialog--container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-base);

  @include respond(sm) {
    flex-direction: column;

    .filters {
      flex: 1;
    }

    .active--filters {
      flex: 0 0 auto;
      order: 2;
    }
  }
}

.filters-section {
  padding: 24px;
}

.active--filters {
  flex: 0 0 320px;
  background-color: var(--color-bg-subtle);
  border-right: 1px solid var(--color-border-bright);
  overflow-y: auto;
}

.filters {
  flex: 1;
  overflow-y: auto;
}

.filters--description {
  margin-bottom: var(--spacing-x4);
  color: var(--color-text-tertiary);
  font-size: var(--font-size-small);
}

.filters--content {
  margin-top: var(--spacing-x4);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty-filters {
  display: flex;
  align-items: center;
  gap: var(--spacing-x2);
  color: var(--color-text-light);
  font-size: var(--font-size-small);
}

.footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-x4);
  padding: 15px 0;
}

.group-row {
  display: flex;
  align-items: stretch;
  width: 100%;
  gap: 10px;
}

.group-row--filters {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 60px);
  gap: 16px;
  flex: 1;
}

.filter-group-operator {
  width: 50px;
  min-width: 50px;
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .operator-toggle {
    height: 100%;
    width: 100%;
    font-size: var(--font-size-small);
    color: var(--color-text-on-color);
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--spacing-x2);
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-primary-pressed);
    }
  }
}

.filter-group-box {
  flex: 1;
}

.add-group {
  border: 1px solid var(--color-border-bright);
  border-radius: 12px;
  padding: 0 12px;
  max-width: calc(100% - 60px);

  &.full-width {
    max-width: 100%;
  }
}
