<div class="generic-dialog-container license-info-dialog-container">
    <h2>
        @if (data.raw) {
            {{ data.title }}
        } @else {
            {{ data.title | translate }}
        }
        <button class="button link tertiary icon-button close-button" (click)="onClose()">
            <i class="icon-close"></i>
        </button>
    </h2>

    <div class="dialog-body">
        @if (data.raw) {
            <div class="content" [innerHTML]="data.content"></div>
        } @else {
            <div class="content" [innerHTML]="data.content | translate"></div>
        }
    </div>
</div>
