@use 'mixins' as m;

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .pages {
    display: flex;
    gap: var(--spacing-x2);
    align-items: baseline;

    .arrow-button {

      &:not(:disabled) {
        background-color: var(--color-bg-base);
      }

      &:first-child {
        margin-left: var(--spacing-x6);
      }

      &:disabled {
        opacity: .6;
        color: var(--color-icon-tertiary-disabled);
        border-color: var(--color-border-secondary-disabled)
      }

    }

    button {
      padding: var(--spacing-x2) var(--spacing-x3);
      border-radius: var(--spacing-x2);
      cursor: pointer;
      color: var(--color-text-btn-tertiary-default);

      &:not(.active) {
        border: 1px solid var(--color-border-tertiary-default);
      }

      &.active {
        background: var(--color-primary);
        color: var(--color-text-on-color);
      }
    }

  }

  &.compact {
    padding-bottom: 0;

    .pages {
      width: 100%;

      .prev-button {
        margin-left: auto;
      }
    }

    .ellipsis-button {
      padding: var(--spacing-x2) var(--spacing-x3);
      border-radius: var(--spacing-x2);
      border: 1px solid var(--color-border-tertiary-default);
      background: transparent;
      color: var(--color-text-btn-tertiary-default);
      cursor: pointer;
      opacity: 1;

      &:hover {
        background-color: var(--color-bg-base-hover);
      }
    }

  }

  .page-size {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    select {
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
    }
  }
}


@include m.respond(md) {
  .paginator {
    flex-direction: column;
    gap: var(--spacing-x4);
    margin-top: var(--spacing-x6);
    padding: 0;

    &>* {
      flex: 1;
    }
  }

}