<div class="paginator" *ngIf="pages().length > 0 && totalCount > pageSize">
  <div class="pages">
    <ng-container *ngIf="!showOnlyArrows">

      <ng-container *ngFor="let p of pages()">
        <button *ngIf="p !== -1" [class.active]="p === page" (click)="goToPage(p)" [disabled]="disabledPagination">
          {{ p }}
        </button>
        <span *ngIf="p === -1">...</span>
      </ng-container>

    </ng-container>

    <button class="button tertiary outlined" (click)="goToPage(page - 1)" [disabled]="page === 1 || disabledPagination">
      <i class="icon-arrow-left"></i>
    </button>

    <button class="button tertiary outlined" (click)="goToPage(page + 1)" [disabled]="page === lastPage() || disabledPagination">
      <i class="icon-arrow-right"></i>
    </button>
  </div>

  <div class="page-size" *ngIf="showPageSizeOptions">
    {{'paginator-page-size' | translate}}:

    <app-select
      [disabled]="disabledPageSize"
      [options]="pageSizeOptions"
      [value]="pageSize"
      (valueChange)="changePageSize($event)">
    </app-select>
<!--    -->
<!--    <select [value]="pageSize" (change)="changePageSize($event)">-->
<!--      <option *ngFor="let opt of pageSizeOptions" [value]="opt">{{ opt }}</option>-->
<!--    </select>-->
  </div>
</div>
