<div class="paginator" *ngIf="pages().length > 0">
  <div class="pages">
    <ng-container *ngFor="let p of pages()">
      <button *ngIf="p !== -1" [class.active]="p === page" (click)="goToPage(p)">
        {{ p }}
      </button>
      <span *ngIf="p === -1">...</span>
    </ng-container>

    <button class="button tertiary outlined" (click)="goToPage(page - 1)" [disabled]="page === 1">
      <i class="icon-arrow-left"></i>
    </button>

    <button class="button tertiary outlined" (click)="goToPage(page + 1)" [disabled]="page === lastPage()">
      <i class="icon-arrow-right"></i>
    </button>
  </div>

  <div class="page-size" *ngIf="showPageSizeOptions">
    Počet výsledků na straně:

    <app-select
      [options]="[25, 50, 100, 200, 500]"
      [value]="pageSize"
      (valueChange)="changePageSize($event)">
    </app-select>
<!--    -->
<!--    <select [value]="pageSize" (change)="changePageSize($event)">-->
<!--      <option *ngFor="let opt of pageSizeOptions" [value]="opt">{{ opt }}</option>-->
<!--    </select>-->
  </div>
</div>
