<a class="item-card"
   [class.with-badge]="showAccessibilityBadge && accessibility !== DocumentAccessibilityEnum.PUBLIC"
   [href]="recordHandlerService.getHandleDocumentUrlByModelAndPid(model, uuid)"
   [ngClass]="[className, model]" (click)="goToDetail()">

  <div class="item-card__image-container">
    <img
      class="item-card__image"
      [src]="`${getKrameriusBaseUrl()}`"
      [alt]="title"
      loading="lazy"
    />

    <button class="icon-button light rounded item-card__favorite-btn" *ngIf="showFavoriteButton" (click)="toggleFavorite()">
      <i class="fa fa-heart-o"></i>
    </button>
  </div>

  <div class="item-card__content">
    <div class="title">{{ title.length > 50 ? (title.slice(0, 50) + '...') : title }}</div>
    <div class="subtitle" *ngIf="subtitle">{{ subtitle }}</div>
  </div>

  <app-accessibility-badge *ngIf="showAccessibilityBadge && accessibility !== DocumentAccessibilityEnum.PUBLIC" [accessibility]="accessibility"></app-accessibility-badge>

</a>
