<div class="access-denied-html-container">
  @if (loading) {
    <div class="loading">
      <span>{{ 'common.loading' | translate }}</span>
    </div>
  } @else if (hasContent) {
    <div class="message-content" [innerHTML]="messageHtml | safeHtml"></div>

    @if (instructionHtml) {
      <div class="instruction-content" [innerHTML]="instructionHtml | safeHtml">
      </div>
    }

    @if (copyrightHtml) {

      <!-- Info Banner -->
      <div class="info-banner">
        <div class="banner-icon">
          <img src="/img/alert-image.png" alt="Alert image">
        </div>
        <div class="banner-content" [innerHTML]="copyrightHtml | safeHtml">

        </div>
      </div>
    }
  }
</div>
