.collapsible--action {

  button {
    gap: var(--spacing-x2);
    line-height: var(--line-height-2);
  }

  i {
    font-size: var(--font-size-xlarge);
    transition: transform 0.2s ease;

    &.rotated {
      transform: rotate(180deg);
    }
  }
}

.collapsible-content--wrapper {
  &.collapsible.collapsed {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines, 3);
    overflow: hidden;
  }
}
