<div class="collapsible-content--wrapper"
     #contentRef
     [class.collapsible]="collapsible"
     [class.collapsed]="collapsible && isCollapsed"
     [style.--max-lines]="maxLines">
  <ng-content></ng-content>
</div>

@if (collapsible && isOverflowing) {
  <div class="collapsible--action">
    <button class="button primary md link no-padding with-icon"
            (click)="toggleCollapse()">
      {{ (isCollapsed ? 'more' : 'less') | translate }}

      <i class="icon-arrow-up-1" [class.rotated]="isCollapsed"></i>
    </button>
  </div>
}
