<div class="queue-panel" *ngIf="isOpen()" appClickOutside (clickOutside)="close()">
  <div class="header">
    <i class="icon icon-play-circle"></i>
    <span>{{'now-playing--header' | translate}}</span>
    <button class="icon-button rounded light close-btn" (click)="close()"><i class="icon-close"></i></button>
  </div>

  <div class="track-list">
    <!-- Currently playing track -->
    <app-playback-queue-item
      *ngIf="getCurrentTrack() as currentTrack"
      [track]="currentTrack"
      [isCurrentTrack]="true"
      (onPlay)="onPlay($event)"
      (onRemove)="onRemove($event)"
      (onTogglePlayPause)="onTogglePlayPause($event)"
    ></app-playback-queue-item>

    <!-- More from queue header -->
    <div class="header" *ngIf="getRemainingTracks().length > 0">
      <i class="icon icon-music-filter"></i>
      <span>{{'more-from-queue--title' | translate}}</span>
    </div>

    <!-- Remaining tracks -->
    <app-playback-queue-item
      *ngFor="let track of getRemainingTracks()"
      [track]="track"
      [isCurrentTrack]="false"
      (onPlay)="onPlay($event)"
      (onRemove)="onRemove($event)"
      (onTogglePlayPause)="onTogglePlayPause($event)"
    ></app-playback-queue-item>
  </div>

  <div class="fade-bottom" *ngIf="soundService.getQueue().length > 5"></div>

</div>
