.generic-dialog-container {

  .dialog-body {

    .content {
      padding: 0 24px 24px 24px;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-x4);
    }
  }
}

p {
  margin: 0;
}

.dont-ask-again--container {
  color: var(--color-text-tertiary);
  gap: var(--spacing-x2);
}

:host ::ng-deep .mdc-label {
  color: var(--color-text-tertiary);
  padding-left: var(--spacing-x2);;
  font-size: var(--font-size-small);
  line-height: var(--line-height-1);
  font-weight: 500;
}
