<div class="settings-display-section">
  <div class="toggle-buttons--container">
    <app-toggle-button-group
      [options]="options"
      [value]="settings.theme"
      [label]="'display-mode'"
      [showLabel]="true"
      (valueChange)="onThemeChange($event)"
      [size]="'lg'"
    >
    </app-toggle-button-group>
  </div>

  <div class="table-columns-config">
    <div class="config-header">
      <h4>{{ 'table-columns-visibility' | translate }}</h4>
      <button
        class="button tertiary outlined sm"
        (click)="resetColumnsToDefaults()"
        type="button">
        {{ 'reset-to-defaults' | translate }}
      </button>
    </div>

    <p class="config-description">{{ 'table-columns-description' | translate }}</p>

    <div class="columns-list">
      <label
        *ngFor="let column of tableColumns"
        class="column-item">
        <app-checkbox
          [model]="column.visible"
          (modelChange)="onColumnVisibilityChange(column.id, $event)"
        >
        </app-checkbox>
        <span class="column-label">{{ column.labelKey | translate }}</span>
      </label>
    </div>
  </div>
</div>
