@use "_z-index.scss" as z;

:host {
  background: transparent;
}

.license-bar {
  position: fixed;
  bottom: var(--playback-bar-height, 0px);
  left: 0;
  right: 0;
  height: 38px;
  background: rgba(0, 99, 204, 0.70);
  color: var(--color-text-on-color);
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: var(--line-height-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-x2);
  padding: var(--spacing-x2) var(--spacing-x4);
  z-index: z.$playback-bar;

  &.clickable {
    cursor: pointer;
  }

  .license-bar--title {
    display: flex;
    align-items: center;
    gap: var(--spacing-x2);

    img {
      height: 21px;
    }
  }
}
