<div class="range-slider" [ngClass]="layout">
  <!-- VARIANT: INLINE -->
  <ng-container *ngIf="layout === 'inline'; else verticalLayout">
    <div class="inputs-inline">
      <app-input
        [showSubmitButton]="false"
        [theme]="'dark'"
        [type]="'number'"
        [initialValue]="from()"
        [min]="min"
        [max]="max"
        (valueChange)="onFromInput($event)"
        [withIcons]="false"
      ></app-input>

      <div class="sliders">
        <input
          class="range from-slider"
          type="range"
          [min]="min"
          [max]="max"
          [value]="from()"
          [class.on-top]="from() === to() && lastMoved === 'from'"
          (input)="onFromInput($any($event.target).valueAsNumber)"
        />
        <input
          class="range to-slider"
          type="range"
          [min]="min"
          [max]="max"
          [value]="to()"
          [class.on-top]="from() === to() && lastMoved === 'to'"
          (input)="onToInput($any($event.target).valueAsNumber)"
        />
        <div
          class="slider-track"
          [style.left.%]="getProgressLeft()"
          [style.right.%]="getProgressRight()"
        ></div>
      </div>

      <app-input
        [showSubmitButton]="false"
        [theme]="'dark'"
        [type]="'number'"
        [initialValue]="to()"
        [min]="min"
        [max]="max"
        (valueChange)="onToInput($event)"
        [withIcons]="false"
      ></app-input>

    </div>
  </ng-container>

  <!-- VARIANT: DEFAULT (VERTICAL) -->
  <ng-template #verticalLayout>
    <div class="sliders">
      <input
        class="range from-slider"
        type="range"
        [min]="min"
        [max]="max"
        [value]="from()"
        [class.on-top]="from() === to() && lastMoved === 'from'"
        (input)="onFromInput($any($event.target).valueAsNumber)"
      />
      <input
        class="range to-slider"
        type="range"
        [min]="min"
        [max]="max"
        [value]="to()"
        [class.on-top]="from() === to() && lastMoved === 'to'"
        (input)="onToInput($any($event.target).valueAsNumber)"
      />
      <div
        class="slider-track"
        [style.left.%]="getProgressLeft()"
        [style.right.%]="getProgressRight()"
      ></div>
    </div>

    <div class="inputs">
      <div>
        <app-input
          [showSubmitButton]="false"
          [theme]="'dark'"
          [type]="'number'"
          [initialValue]="from()"
          [min]="min"
          [max]="max"
          (valueChange)="onFromInput($event)"
          [withIcons]="false"
        ></app-input>

      </div>

      <div class="separator">-</div>

      <div>
        <app-input
          [showSubmitButton]="false"
          [theme]="'dark'"
          [type]="'number'"
          [initialValue]="to()"
          [min]="min"
          [max]="max"
          (valueChange)="onToInput($event)"
          [withIcons]="false"
        ></app-input>
      </div>
    </div>
  </ng-template>
</div>
