<div class="range-slider" [ngClass]="layout">
  <!-- VARIANT: INLINE -->
  <ng-container *ngIf="layout === 'inline'; else verticalLayout">
    <div class="inputs-inline">
      <input
        type="number"
        [min]="min"
        [max]="max"
        [value]="from()"
        (input)="onFromInput($any($event.target).valueAsNumber)"
      />

      <div class="sliders">
        <input
          class="range from-slider"
          type="range"
          [min]="min"
          [max]="max"
          [value]="from()"
          [class.on-top]="from() === to() && lastMoved === 'from'"
          (input)="onFromInput($any($event.target).valueAsNumber)"
        />
        <input
          class="range to-slider"
          type="range"
          [min]="min"
          [max]="max"
          [value]="to()"
          [class.on-top]="from() === to() && lastMoved === 'to'"
          (input)="onToInput($any($event.target).valueAsNumber)"
        />
        <div
          class="slider-track"
          [style.left.%]="getProgressLeft()"
          [style.right.%]="getProgressRight()"
        ></div>
      </div>

      <input
        type="number"
        [min]="min"
        [max]="max"
        [value]="to()"
        (input)="onToInput($any($event.target).valueAsNumber)"
      />
    </div>
  </ng-container>

  <!-- VARIANT: DEFAULT (VERTICAL) -->
  <ng-template #verticalLayout>
    <div class="sliders">
      <input
        class="range from-slider"
        type="range"
        [min]="min"
        [max]="max"
        [value]="from()"
        [class.on-top]="from() === to() && lastMoved === 'from'"
        (input)="onFromInput($any($event.target).valueAsNumber)"
      />
      <input
        class="range to-slider"
        type="range"
        [min]="min"
        [max]="max"
        [value]="to()"
        [class.on-top]="from() === to() && lastMoved === 'to'"
        (input)="onToInput($any($event.target).valueAsNumber)"
      />
      <div
        class="slider-track"
        [style.left.%]="getProgressLeft()"
        [style.right.%]="getProgressRight()"
      ></div>
    </div>

    <div class="inputs">
      <div>
        <input
          type="number"
          [min]="min"
          [max]="max"
          [value]="from()"
          (input)="onFromInput($any($event.target).valueAsNumber)"
        />
      </div>

      <div class="separator">-</div>

      <div>
        <input
          type="number"
          [min]="min"
          [max]="max"
          [value]="to()"
          (input)="onToInput($any($event.target).valueAsNumber)"
        />
      </div>
    </div>
  </ng-template>
</div>
