<div class="image-viewer-controls">
  <button class="button tertiary outlined" (click)="onZoomIn()" title="Zoom In">
    <i class="icon-search-zoom-in"></i>
  </button>

  <button class="button tertiary outlined" (click)="onZoomOut()" title="Zoom Out">
    <i class="icon-search-zoom-out"></i>
  </button>

  <button class="button tertiary outlined" (click)="onFitToScreen()" title="Fit to Screen">
    <i class="icon-maximize-3"></i>
  </button>

  <button class="button tertiary outlined" (click)="onFullscreen()" title="Fullscreen">
    <i class="icon-pharagraphspacing"></i>
  </button>

  <button class="button tertiary outlined" (click)="onRotate()" title="Rotate">
    <i class="icon-rotate-right"></i>
  </button>

  <button class="button tertiary outlined" (click)="onResetView()" title="Reset View">
    <i class="icon-grid-lock"></i>
  </button>
</div>
