<app-detail-layout [showBottomToolbar]="false" [constrainBottomToolbar]="true" [showRightSidebar]="false">

  <ng-container left-sidebar>
    <div class="sidebar--container">
      @if (hasLocalEpub) {
        <app-epub-sidebar></app-epub-sidebar>
      } @else {
        <div class="epub-test--empty-sidebar">
          <p>Load a local <strong>.epub</strong> file to explore it here.</p>
        </div>
      }
    </div>
  </ng-container>

  <ng-container action-toolbar>
    <app-action-toolbar>
      <div left class="epub-test--toolbar-left">
        <span class="epub-test--label">EPUB Test Viewer</span>
        @if (localFileName) {
          <span class="epub-test--filename">{{ localFileName }}</span>
        }
      </div>
      <div right>
        <input #fileInput type="file" accept=".epub" class="hidden-file-input" (change)="onFileSelected($event)" />
        <button class="button primary with-icon" (click)="openFilePicker()">
          <i class="icon-upload"></i>
          Load .epub file
        </button>
      </div>
    </app-action-toolbar>
  </ng-container>

  <ng-container main-content>
    <div class="epub-test--content">
      @if (hasLocalEpub) {
        <div class="epub-test--viewer-wrapper">
          <app-epub-viewer></app-epub-viewer>
        </div>
        <app-viewer-controls type="epub"></app-viewer-controls>
      } @else {
        <div class="epub-test--placeholder">
          <i class="icon-book"></i>
          <p>No file loaded. Click <strong>Load .epub file</strong> in the toolbar to get started.</p>
        </div>
      }
    </div>
  </ng-container>

</app-detail-layout>
