<div class="input-field">
  <!-- Label -->
  <label *ngIf="label" class="input-label" [attr.for]="id">
    {{ label | translate }}
  </label>

  <div class="input-container" [ngClass]="[theme, size, clickable ? 'clickable' : '', withIcons ? 'with-icons' : '']">
    <!-- Prefix Icon -->
    <span class="prefix-icon" *ngIf="prefixIcon">
      <i [class]="prefixIcon"></i>
    </span>

    <ng-container *ngIf="autocomplete; else noAutocomplete">
      <input
        [style.padding-right]="iconsWidth"
        [style.padding-left]="prefixIcon || prefix ? '40px' : ''"
        [type]="type"
        #inputElement
        #inputModel="ngModel"
        [placeholder]="placeholder | translate"
        [(ngModel)]="value"
        (ngModelChange)="onInputChange($event)"
        (keyup.enter)="onEnter()"
        [matAutocomplete]="autocomplete"
        (focus)="onFocus()"
        (blur)="onBlur()"
        [attr.aria-label]="ariaLabel"
        [attr.name]="name"
        [attr.id]="id"
        [attr.pattern]="pattern"
        [attr.required]="required ? '' : null"
        [attr.min]="min"
        [attr.max]="max"
        [class.with-icons]="withIcons"
        [attr.aria-required]="required ? 'true' : null"
      />
    </ng-container>

    <ng-template #noAutocomplete>
      <div class="input-with-prefix">
        <span class="prefix" *ngIf="prefix">{{ prefix }}</span>
        <input
          [style.padding-right]="iconsWidth"
          [style.padding-left]="prefixIcon || prefix ? '40px' : ''"
          [type]="type"
          inputmode="numeric"
          #inputElement
          #inputModel="ngModel"
          [placeholder]="placeholder | translate"
          [(ngModel)]="value"
          (ngModelChange)="onInputChange($event)"
          (keyup.enter)="onEnter()"
          (focus)="onFocus()"
          (blur)="onBlur()"
          [attr.aria-label]="ariaLabel"
          [attr.name]="name"
          [attr.id]="id"
          [attr.pattern]="pattern"
          [attr.required]="required ? '' : null"
          [attr.min]="min"
          [attr.max]="max"
          [readonly]="readonly"
          [class.with-icons]="withIcons"
          [attr.aria-required]="required ? 'true' : null"
        />
      </div>
    </ng-template>

    <!-- Postfix Icon -->
    <span class="postfix-icon" *ngIf="postfixIcon">
      <i [class]="postfixIcon"></i>
    </span>

    <div class="input-step-buttons" *ngIf="type === 'number' && showNumberStepper">
      <button
        type="button"
        class="step-btn up"
        [ngClass]="{ disabled: isAtMax() }"
        [disabled]="isAtMax()"
        (click)="stepUp()"
        [attr.aria-label]="'increase-value' | translate"
      >
        <i class="icon-arrow-up-1"></i>
      </button>

      <button
        type="button"
        class="step-btn down"
        [ngClass]="{ disabled: isAtMin() }"
        [disabled]="isAtMin()"
        (click)="stepDown()"
        [attr.aria-label]="'decrease-value' | translate"
      >
        <i class="icon-arrow-up-1"></i>
      </button>
    </div>

    <span class="input--icons" [style.right]="iconsRight" *ngIf="showMicButton || showHelpButton || showClear || showCaseSensitiveButton">

      @if (showCaseSensitiveButton) {
        <button
          class="icon-button button link tertiary case-sensitive-button-toggle" [class.active]="isCaseSensitive"
          type="button"
          [attr.aria-label]="'case-sensitive-toggle' | translate"
          (click)="toggleCaseSensitive()"
        >
        <span>Aa</span>
      </button>
      }

      <button
        class="icon-button button link tertiary"
        *ngIf="showMicButtonActual"
        type="button"
        [attr.aria-label]="'voice-input' | translate"
      >
        <i class="icon-microphone-2 input--icon"></i>
      </button>

      <button
        class="icon-button button link tertiary"
        *ngIf="showClear"
        type="button"
        (mousedown)="clearInput($event)"
        [attr.aria-label]="'clear-input' | translate"
      >
        <i class="icon-x input--icon"></i>
      </button>

      <button
        class="icon-button button link tertiary"
        *ngIf="showHelpButton"
        type="button"
        [attr.aria-label]="'help' | translate"
      >
        <i class="icon-question input--icon"></i>
      </button>
    </span>
  </div>

  <button
    *ngIf="showSubmitButton"
    type="button"
    class="icon-button submit-btn"
    [attr.aria-label]="'submit' | translate"
    (click)="onSubmitClick()">
    <i class="{{submitIcon}}"></i>
  </button>
</div>
