<div class="input-field">
  <div class="input-container" [ngClass]="[theme, size]">
    <ng-container *ngIf="autocomplete; else noAutocomplete">
      <input
        [style.padding-right]="iconsWidth"
        [type]="type"
        #inputElement
        #inputModel="ngModel"
        [placeholder]="placeholder | translate"
        [(ngModel)]="value"
        (ngModelChange)="onInputChange($event)"
        (keyup.enter)="onEnter()"
        [matAutocomplete]="autocomplete"
        (focus)="onFocus()"
        (blur)="onBlur()"
        [attr.name]="name"
        [attr.id]="id"
        [attr.pattern]="pattern"
        [attr.required]="required ? '' : null"
        [attr.min]="min"
        [attr.max]="max"
        [class.with-icons]="withIcons"
      />
    </ng-container>

    <ng-template #noAutocomplete>
      <div class="input-with-prefix">
        <span class="prefix" *ngIf="prefix">{{ prefix }}</span>
        <input
          [style.padding-right]="iconsWidth"
          [type]="type"
          inputmode="numeric"
          #inputElement
          #inputModel="ngModel"
          [placeholder]="placeholder | translate"
          [(ngModel)]="value"
          (ngModelChange)="onInputChange($event)"
          (keyup.enter)="onEnter()"
          (focus)="onFocus()"
          (blur)="onBlur()"
          [attr.name]="name"
          [attr.id]="id"
          [attr.pattern]="pattern"
          [attr.required]="required ? '' : null"
          [attr.min]="min"
          [attr.max]="max"
          [readonly]="readonly"
          [class.with-icons]="withIcons"
        />
      </div>
    </ng-template>

    <div class="input-step-buttons" *ngIf="type === 'number' && showNumberStepper">
      <button
        type="button"
        class="step-btn up"
        [ngClass]="{ disabled: isAtMax() }"
        [disabled]="isAtMax()"
        (click)="stepUp()"
      >
        <i class="icon-arrow-up-1"></i>
      </button>

      <button
        type="button"
        class="step-btn down"
        [ngClass]="{ disabled: isAtMin() }"
        [disabled]="isAtMin()"
        (click)="stepDown()"
      >
        <i class="icon-arrow-up-1"></i>
      </button>
    </div>

    <span class="input--icons" [style.right]="iconsRight" *ngIf="showMicButton || showHelpButton || showClear">
      <button
        class="icon-button button link tertiary"
        *ngIf="showMicButtonActual"
        type="button">
        <i class="icon-microphone-2 input--icon"></i>
      </button>

      <button
        class="icon-button button link tertiary"
        *ngIf="showClear"
        type="button"
        (mousedown)="clearInput($event)">
        <i class="icon-x input--icon"></i>
      </button>

      <button
        class="icon-button button link tertiary"
        *ngIf="showHelpButton"
        type="button">
        <i class="icon-question input--icon"></i>
      </button>
    </span>
  </div>

  <button
    *ngIf="showSubmitButton"
    type="button"
    class="icon-button submit-btn"
    (click)="onSubmitClick()">
    <i class="{{submitIcon}}"></i>
  </button>
</div>
