.tags-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-x2);

  .tag {
    padding: var(--spacing-x1) var(--spacing-x2);
    background-color: var(--color-bg-base);
    border: 1px solid var(--color-border-bright);
    border-radius: var(--spacing-x1);
    font-size: var(--font-size-small);
    line-height: var(--line-height-xs);
    color: var(--color-text-secondary);
    cursor: pointer;
  }
}
