:host {
  padding: 24px 20px 12px 20px;
  max-height: 80vh;
  overflow: hidden;
  background-color: var(--color-bg-base);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.search-input {
  margin-bottom: 16px;
}

.filters--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facet-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 50vh;
  overflow-y: auto;
}

.facet-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.operator-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;

  button {

    &.active {
      background-color: var(--color-primary);
      color: white;
    }
  }
}
