:host {
  padding: 24px;
  max-height: 80vh;
  overflow: hidden;
  background-color: var(--color-bg-base);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.search-input {
  margin-bottom: 16px;

  input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: var(--base-border-radius);
    background-color: var(--color-bg-light);
    color: var(--color-text-light);

    &:active {
      outline: none;
      border: none;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}

.filters--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facet-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 50vh;
  overflow-y: auto;
}

.facet-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer {
  margin-top: 24px;
  text-align: right;
}

.operator-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;

  button {

    &.active {
      background-color: var(--color-primary);
      color: white;
    }
  }
}
