<section class="metadata-section--item">

  <div class="metadata-section--item-header">
    <h3 class="metadata-section--item-label">{{ label | translate }}</h3>
    <button *ngIf="headerActionLabel" class="button tertiary outlined xs with-icon header-action-btn"
      (click)="handleHeaderAction($event)">
      {{ headerActionLabel }} <i class="icon-arrow-right-1"></i>
    </button>
  </div>

  <app-collapsible-content [collapsible]="collapsible" [contentKey]="items?.length ?? value">

    <!-- Text type: simple paragraph -->
    <p *ngIf="type === 'text' && value">{{ value | translate }}</p>

    <!-- List type: non-clickable vertical list -->
    <ul *ngIf="type === 'list'" [class.with-bullets]="showListBullets">
      <li *ngFor="let item of items">
        <ng-container *ngIf="disableTranslate">{{ getDisplayText(item) }}</ng-container>
        <ng-container *ngIf="!disableTranslate">{{ getDisplayText(item) | translate }}</ng-container>
      </li>
    </ul>

    <!-- Clickable list type: vertical list with underlined clickable items -->
    <ul *ngIf="type === 'clickable-list'" class="clickable-list" [class.with-bullets]="showListBullets">
      <li *ngFor="let item of visibleItems; let last = last" (click)="handleClick(item)" class="clickable">
        <span class="item-content">
          <span class="item-label">
            <ng-container *ngIf="disableTranslate">{{ getDisplayText(item) }}</ng-container>
            <ng-container *ngIf="!disableTranslate">{{ getDisplayText(item) | translate }}</ng-container>
          </span>
          <ng-container *ngIf="itemSuffixTpl">
            <ng-container *ngTemplateOutlet="itemSuffixTpl; context: { $implicit: item }"></ng-container>
          </ng-container>
        </span><span *ngIf="last && hiddenCount > 0" class="items-more-inline" (click)="expanded = true; $event.stopPropagation()"> + {{ hiddenCount }} {{ 'authors-more' | translate }}</span>
      </li>
    </ul>

    <!-- Badge type: pill-styled clickable badge -->
    <span *ngIf="type === 'badge' && value" class="badge" (click)="handleClick(value)">
      <i *ngIf="icon" [class]="icon"></i>
      {{ value | translate }}
    </span>

    <!-- Key-value type: display object properties as key-value pairs -->
    <ul *ngIf="type === 'key-value'" [class.with-bullets]="showListBullets">
      <li *ngFor="let key of getKeys()">
        <strong [class.uppercase]="listKeyUppercase">{{ key }}:</strong> {{ getKeyValue(key) | translate }}
      </li>
    </ul>

    <ng-content select="[metadata-section-item-content]"></ng-content>

  </app-collapsible-content>

</section>
