<section class="metadata-section--item">

  <h3 class="metadata-section--item-label">{{ label | translate }}</h3>

  <div class="metadata-section--item-value"
       #contentRef
       [class.collapsible]="collapsible"
       [class.collapsed]="collapsible && isCollapsed">

    <!-- Text type: simple paragraph -->
    <p *ngIf="type === 'text' && value">{{ value | translate }}</p>

    <!-- List type: non-clickable vertical list -->
    <ul *ngIf="type === 'list'" [class.with-bullets]="showListBullets">
      <li *ngFor="let item of items">
        <ng-container *ngIf="disableTranslate">{{ getDisplayText(item) }}</ng-container>
        <ng-container *ngIf="!disableTranslate">{{ getDisplayText(item) | translate }}</ng-container>
      </li>
    </ul>

    <!-- Clickable list type: vertical list with underlined clickable items -->
    <ul *ngIf="type === 'clickable-list'" class="clickable-list" [class.with-bullets]="showListBullets">
      <li *ngFor="let item of items" (click)="handleClick(item)" class="clickable">
        <ng-container *ngIf="disableTranslate">{{ getDisplayText(item) }}</ng-container>
        <ng-container *ngIf="!disableTranslate">{{ getDisplayText(item) | translate }}</ng-container>
      </li>
    </ul>

    <!-- Badge type: pill-styled clickable badge -->
    <span *ngIf="type === 'badge' && value" class="badge" (click)="handleClick(value)">
      <i *ngIf="icon" [class]="icon"></i>
      {{ value | translate }}
    </span>

    <!-- Key-value type: display object properties as key-value pairs -->
    <ul *ngIf="type === 'key-value'" [class.with-bullets]="showListBullets">
      <li *ngFor="let key of getKeys()">
        <strong [class.uppercase]="listKeyUppercase">{{ key }}:</strong> {{ getKeyValue(key) | translate }}
      </li>
    </ul>

    <ng-content select="[metadata-section-item-content]"></ng-content>

  </div>

  @if (collapsible && isOverflowing) {
    <div class="collapsible--action">
      <button class="button tertiary outlined xs"
              (click)="toggleCollapse()">
        {{ (isCollapsed ? 'show-more' : 'show-less') | translate }}
      </button>
    </div>
  }

</section>
