.generic-dialog-container {
  max-height: 80vh;
  overflow: hidden;
  background-color: var(--color-bg-base);
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  h2 {
    padding: 20px 24px;
    margin-bottom: 0;
  }

  .close-button {
    font-size: calc(24px * var(--accessibility-text-scale));
    padding: 5px;
  }

  .dialog-body {
    flex: 1;
    display: flex;
    overflow: hidden;
    min-height: 0;

    .content {
      flex: 3;
      overflow-y: auto;
      min-height: 0;
    }
  }

  .dialog-actions {
    flex: 1;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 0 24px 24px 24px;
  }
}