<div class="remove-collection-section">

  <div class="section-header selected-dialog--header">
    <h3>{{ 'select-collections-to-remove' | translate }}<span *ngIf="totalCount$ | async as totalCount">({{ totalCount }})</span></h3>
  </div>

  <div class="collections-selection selected-dialog--section">
    <app-collections-list
      [title]="'select-collections-to-remove' | translate"
      [selectedCollections]="selectedCollections"
      (selectionChange)="onCollectionsSelectionChange($event)">
    </app-collections-list>
  </div>


  <div class="selected-dialog--actions">

    <button class="primary">
      {{'remove--button-label' | translate}}
      @if (selectedCollections && selectedCollections.length > 0) {
        ({{ selectedCollections.length }})
      }
    </button>

  </div>

</div>
