.viewer-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-bg-base);
  border-radius: var(--spacing-x3);
  padding: var(--spacing-x2);
  gap: var(--spacing-x2);
  box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.08);

  button {
    width: var(--spacing-x8);
    height: var(--spacing-x8);
  }

  //&.pdf-layout {
  //  flex-direction: column;
  //  background-color: var(--color-bg-base);
  //  border-radius: 12px;
  //  padding: 8px;
  //  gap: 8px;
  //}
  //
  //&.image-layout {
  //  flex-direction: row;
  //  gap: var(--spacing-x2);
  //}
}
