<div class="viewer-controls" [class.pdf-layout]="type === 'pdf'" [class.image-layout]="type === 'image'">
  <!-- Common buttons for both viewers -->

  <button (click)="onZoomIn()" class="button tertiary outlined" title="Zoom In">
    <i class="icon icon-search-zoom-in-1"></i>
  </button>

  <button (click)="onZoomOut()" class="button tertiary outlined" title="Zoom Out">
    <i class="icon icon-search-zoom-out-1"></i>
  </button>

  <button (click)="onFullscreen()" class="button tertiary outlined" title="Fullscreen">
    <i class="icon icon-maximize-3"></i>
  </button>

  <button (click)="onFitToScreen()" class="button tertiary outlined" title="Fit to screen">
    <i class="icon icon-maximize-1"></i>
  </button>

  <button (click)="onToggleFitToWidth()" class="button tertiary outlined" title="Fit to width">
    <i class="icon icon-grid-lock"></i>
  </button>

  <!-- PDF-specific buttons -->
  <ng-container *ngIf="type === 'pdf'">

    <button (click)="onScrollMode()" class="button tertiary outlined" title="Toggle Scroll Mode">
      <i class="icon icon-pharagraphspacing"></i>
    </button>

<!--    <button (click)="onTextView()" class="button tertiary outlined" title="Toggle Text View">-->
<!--      <i class="icon icon-text"></i>-->
<!--    </button>-->

<!--    <button (click)="onBookMode()" class="button tertiary outlined" title="Book mode">-->
<!--      <i class="icon icon-book"></i>-->
<!--    </button>-->
  </ng-container>

  <button (click)="onBookMode()" class="button tertiary outlined" title="Book mode">
    <i class="icon icon-book-1"></i>
  </button>

  <button class="button tertiary outlined" (click)="onRotate()" title="Rotate">
    <i class="icon icon-rotate-right"></i>
  </button>

  <!-- Image-specific buttons -->
  <ng-container *ngIf="type === 'image'">
<!--    <button (click)="onDrawRectangle()" class="button tertiary outlined" title="Draw Rectangle">-->
<!--      <i class="icon icon-square"></i>-->
<!--    </button>-->
    <button (click)="onSelectArea()" class="button tertiary outlined" title="Select Area">
      <i class="icon icon-crop"></i>
    </button>
  </ng-container>

</div>
