<div class="footer-left">
    <img src="img/logo.svg" alt="Česká digitální knihovna" class="logo-cdk">
</div>

<div class="footer-middle">
    <div class="footer-group">
        <span class="group-label">{{ 'footer.financed-by' | translate }}</span>
        <span class="logo-text">RightLib</span>
    </div>
    <div class="footer-group">
        <span class="group-label">{{ 'footer.operated-by' | translate }}</span>
        <div class="logos">
            <img src="img/logo/mzk-logo.png" alt="Moravská zemská knihovna">
            <img src="img/logo/nk-logo.png" alt="Národní knihovna">
            <img src="img/logo/avcr-logo.png" alt="Knihovna Akademie věd ČR">
        </div>
    </div>
    <div class="footer-group">
        <span class="group-label">{{ 'footer.development' | translate }}</span>
        <div class="logos">
            <img src="img/logo/trinera-logo.png" alt="Trinera">
            <img src="img/logo/inovatika-logo.png" alt="Inovatika">
        </div>
    </div>
</div>

<div class="footer-right">
    <ul class="footer-links">
        <li><a href="https://www.instagram.com/ceskadigitalniknihovna" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/ceskadigitalniknihovna" target="_blank">Facebook</a></li>
        <li><a href="/institutions">{{ 'footer.participating-institutions' | translate }}</a></li>
    </ul>
</div>