.record-table {
  table-layout: fixed;
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
  color: var(--color-text-base);
  background-color: var(--color-bg-base);
  border-radius: var(--spacing-x2);

  th {
    font-weight: 500;
    font-size: var(--font-size-small);
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid var(--color-border-light);
    color: var(--color-text-tertiary);
    white-space: nowrap;
    position: sticky;
    top: 0;
    background-color: var(--color-bg-base);
    z-index: 10;
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .actions-column,
  .col-actions {
    width: 56px;
  }

  tr:last-child {
    border-radius: 0 0 var(--spacing-x2) var(--spacing-x2);
  }
}

.no-results {
  text-align: center;
  margin-top: 2rem;
  color: var(--color-text-muted);
}
