<div class="table-wrapper">
  <table class="record-table" *ngIf="records.length">
    <thead>
    <tr>
      <th *ngFor="let column of visibleColumns" [style.min-width]="column.width">
        {{ column.labelKey | translate }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr app-record-item-list-row
      *ngFor="let record of records"
      [url]="recordHandler.getHandleDocumentUrlByModelAndPid(record.model, record.pid)"
      [record]="record"
      [visibleColumns]="visibleColumns">
    </tr>
    </tbody>
  </table>
</div>

<div class="no-results" *ngIf="!records.length">
  <p>Žiadne výsledky na zobrazenie.</p>
</div>
