<section class="carousel-wrapper">

  <div class="carousel-content-wrapper" [ngClass]="{ 'edge-to-edge': edgeToEdge }">

    <div class="carousel-content" #scrollContainer>
      <ng-content></ng-content>
    </div>

  </div>

  <div class="carousel-actions">

    <button class="outlined-dark icon-button nav left"
            aria-label="{{'scroll-left' | translate}}"
            (click)="scrollLeft()" [disabled]="!canScrollLeft">
      <i class="icon-arrow-left"></i>
    </button>

    <button class="outlined-dark icon-button nav right"
            aria-label="{{'scroll-right' | translate}}"
            (click)="scrollRight()" [disabled]="!canScrollRight">
      <i class="icon-arrow-right"></i>
    </button>

  </div>

</section>
