.carousel-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .carousel-content-wrapper {
    position: relative;
    overflow: hidden;
  }

  .carousel-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 195px;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;

    // Scrollbar hidden
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }


  .carousel-actions {
    display: flex;
    margin-left: auto;
    gap: 5px;
  }

}

.carousel-content-wrapper.edge-to-edge {
  margin-left: calc(-1 * var(--search-page-padding));
  margin-right: calc(-1 * var(--search-page-padding));
  overflow: hidden;
}

.carousel-content-wrapper.edge-to-edge .carousel-content {
  padding-left: var(--search-page-padding);
  padding-right: var(--search-page-padding);
}
