<div class="ai-loading">
  <div class="ai-loading__icon">
    <img src="img/magicpen.svg" alt="" class="ai-loading__magicpen">
    <img src="img/magicstar.svg" alt="" class="ai-loading__magicstar ai-loading__magicstar--1">
    <img src="img/magicstar.svg" alt="" class="ai-loading__magicstar ai-loading__magicstar--2">
    <img src="img/magicstar.svg" alt="" class="ai-loading__magicstar ai-loading__magicstar--3">
  </div>
  @if (text) {
    <span class="ai-loading__text">{{ text }}</span>
  }
</div>
