<div class="generic-dialog-container authors-dialog-container">
  <h2>
    {{ 'authors-dialog--header' | translate }}
    <button class="button link tertiary icon-button close-button" (click)="onClose()">
      <i class="icon-close"></i>
    </button>
  </h2>

  <div class="dialog-body">
    <div class="content">
      <table class="authors-table">
        <thead>
          <tr>
            <th scope="col">{{ 'authors-dialog--col-name' | translate }}</th>
            <th scope="col">{{ 'authors-dialog--col-date' | translate }}</th>
            <th scope="col">{{ 'authors-dialog--col-identifiers' | translate }}</th>
            <th scope="col">{{ 'authors-dialog--col-role' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (author of data.authors; track author) {
            <tr>
              <td>
                <button type="button" class="author-link" (click)="clickAuthor(author)">{{ author.name }}</button>
              </td>
              <td>{{ author.date }}</td>
              <td>
                @if (getNameIdentifier(author); as identifier) {
                  <button
                    type="button"
                    class="author-link"
                    [attr.aria-label]="'authors-dialog--identifier-link-label' | translate: { value: identifier }"
                    (click)="openAuthority(identifier)"
                  >{{ identifier }}</button>
                }
              </td>
              <td>{{ getRole(author) }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
