@use 'mixins' as m;

.search-hero {
  text-align: center;
  padding: 24px;

  h1 {
    font-size: var(--font-size-5xlarge);
    line-height: var(--line-height-8);
    margin-bottom: 16px;
    font-weight: 400;
    color: var(--color-text-base);
  }

  p {
    max-width: 860px;
    margin: 0 auto 32px;
    color: var(--color-text-secondary);
    font-size: var(--font-size-base);
    line-height: var(--line-height-2);
  }

  .search-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-x4);
    max-width: 720px;
    margin: 0 auto 24px;

    @include m.respond(sm) {
      flex-direction: column;
    }

    app-autocomplete {
      flex: 1 0 auto;
    }

  }
}

// Responsive styles
@include m.respond(md) {

  .search-hero {
    padding: var(--spacing-x4) 0;
  }

  h1 {
    font-size: var(--font-size-3xlarge);
    margin-top: 0;
    margin-bottom: var(--spacing-x4);
  }

  p {
    max-width: 100%;
  }

}
