<section class="search-hero">
  <h1>{{'search-hero-section-title' | translate}}</h1>
  <p>
    {{'search-hero-section-subtitle' | translate}}
  </p>

  <div class="search-row">

    <app-autocomplete
      [inputTheme]="'light'"
      [placeholder]="'search-input-placeholder' | translate"
      [minTermLength]="2"
      [initialValue]="searchService.searchTerm()"
      [getSuggestions]="searchService.getSuggestionsFn"
      (search)="searchService.onSearch($event)"
      (submit)="searchService.onSubmit($event)"
      [inputTerm]="searchService.searchTerm"
      [showHistorySuggestions]="true"
      [showMicrophoneButton]="false"
      [showHelpButton]="false"
      [autofocus]="true"
      (suggestionSelected)="searchService.onSuggestionSelected($event)">
    </app-autocomplete>

    <button class="outlined light"
            aria-label="{{'advanced-search' | translate}}"
            (click)="openAdvancedSearch()">
      {{'advanced-search' | translate}}
    </button>
  </div>

  <app-suggested-search-tags-section></app-suggested-search-tags-section>

</section>
