<section class="search-hero">
  <h1>Prozkoumejte největší českou digitální knihovnu</h1>
  <p>
    Hledáte historické knihy, noviny, mapy nebo rukopisy? Digitální knihovna vám otevírá brány k bohaté sbírce digitalizovaných dokumentů – ať už volně dostupných, nebo chráněných autorským právem.
  </p>

  <div class="search-row">

    <app-autocomplete
      [inputTheme]="'light'"
      [placeholder]="'Search...'"
      [minTermLength]="2"
      [initialValue]="searchService.inputSearchTerm"
      [getSuggestions]="searchService.getSuggestionsFn"
      (search)="searchService.onSearch($event)"
      (submit)="searchService.onSubmit($event)"
      (suggestionSelected)="searchService.onSuggestionSelected($event)">
    </app-autocomplete>

    <button class="outlined">
      Pokročilé hledání
    </button>
  </div>

  <div class="tags-row">
    <span class="tag">Oborová</span>
    <span class="tag">Historické mapy</span>
    <span class="tag">Hudebniny</span>
    <span class="tag">Ilustrované noviny</span>
  </div>
</section>
