<section class="search-hero">
  <h1>{{ heroTitle || ('search-hero-section-title' | translate) }}</h1>
  <p>
    {{'search-hero-section-subtitle' | translate}}
  </p>

  <div class="search-row">

    <app-autocomplete
      [inputTheme]="'light'"
      [placeholder]="'search-input-placeholder' | translate"
      [minTermLength]="2" [size]="'lg'"
      [initialValue]="searchService.searchTerm()"
      [getSuggestions]="searchService.getSuggestionsFn"
      (search)="searchService.onSearch($event)"
      (submit)="searchService.onSubmit($event)"
      [inputTerm]="searchService.searchTerm"
      [showHistorySuggestions]="true"
      [showMicrophoneButton]="true"
      [showHelpButton]="false" [prefixIcon]="'icon-search-normal-1'"
      [autofocus]="true" [showSubmitButton]="breakpointService.isMobile()" [autoSubmit]="false"
      (suggestionSelected)="searchService.onSuggestionSelected($event)">
    </app-autocomplete>

    <div class="search-row--actions" *ngIf="!breakpointService.isMobile()">
      <button class="primary"
              aria-label="{{'submit-search' | translate}}"
              (click)="searchService.onSearch(searchService.searchTerm())">
        {{'enter--submit-search' | translate}}
      </button>

      <button class="outlined light"
              aria-label="{{'advanced-search' | translate}}"
              (click)="openAdvancedSearch()">
        {{'advanced-search' | translate}}
      </button>
    </div>
  </div>

  <app-suggested-search-tags-section *ngIf="showSuggestedTags"></app-suggested-search-tags-section>

  <button *ngIf="breakpointService.isMobile()" class="button link primary with-icon"
          aria-label="{{'advanced-search' | translate}}"
          (click)="openAdvancedSearch()">
    <i class="icon-settings-4"></i>
    {{'advanced-search' | translate}}
  </button>

</section>
