.category-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px;
  background-color: var(--color-bg-base);
  border-radius: var(--base-border-radius);
  font-size: var(--font-size-small);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: var(--color-text-link);
  }

  img {
    width: 16px;
    height: 16px;
  }

}
