<div class="years-timeline">

  <div class="range-years-row" *ngIf="rangeYears.length > 0">
    <div
      class="range-year-item"
      *ngFor="let year of rangeYears"
      [ngClass]="{
        'placeholder': year === null,
        'accessibility-available': !recordHandler.isRecordLocked(year.licenses),
        'accessibility-disabled': recordHandler.isRecordLocked(year.licenses)
      }"
      (click)="selectYear.emit(year.year)"
    >
      <span class="range-year-label">{{ year.year }}</span>
    </div>
  </div>

  @for (row of yearsByDecades; track row) {

    @if (getNonNullYears(row).length > 0) {

      <div class="year-row">
        <div class="row-line"></div>

        <div
          class="year-item--container"
          *ngFor="let year of row; let i = index"
          [ngClass]="{
        'missing': year === null,
        'accessibility-available': year !== null && !recordHandler.isRecordLocked(year.licenses),
        'accessibility-disabled': year !== null && recordHandler.isRecordLocked(year.licenses)
      }"
          (click)="year !== null && selectYear.emit(year.year.toString())"
        >
          <div class="year-item"
            [class.with-icon]="year === null || (year !== null && recordHandler.isRecordLocked(year.licenses))"
          >
            <div class="year-item--wrapper">

              @if (year === null) {
                <i class="icon-slash"></i>
              }

              @if (year !== null && recordHandler.isRecordLocked(year.licenses)) {
                <i class="icon-lock-1"></i>
              }

              {{ year !== null ? year.year : getDecadeStartYear(row) + i }}
            </div>
          </div>
        </div>
      </div>

    }

  }

</div>
