@import "_z-index.scss";

.years-timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.year-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 100%;

  .row-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--color-border-additional);
    z-index: $timeline-background;
  }
}

.year-item--container {
  position: relative;
  z-index: $timeline-items;
  display: flex;
  justify-content: center;
  flex: 1 1 0;
  cursor: pointer;

  transition: all 0.4s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  .year-item {
    font-size: 18px;
    font-weight: bold;
    padding: var(--spacing-x2);
    background-color: var(--color-bg-base);
    border: 1px solid var(--color-border-additional);
    color: var(--color-text-dark);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .year-item--wrapper {
    padding: 2px 8px;
    border-radius: 2px;
  }

  &.placeholder .year-item--wrapper {
    background-color: transparent;
  }

  &.accessibility-available .year-item--wrapper {
    background-color: var(--accessibility-public-bg);
  }

  &.accessibility-disabled .year-item--wrapper {
    background-color: var(--accessibility-private-bg);
  }
}

.range-years-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.range-year-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  .range-year-label {
    font-size: 18px;
    font-weight: bold;
    padding: var(--spacing-x2);
    border-radius: 4px;
    background-color: var(--color-bg-base);
    border: 1px solid var(--color-border-additional);
    color: var(--color-text-dark);
  }

  &.accessibility-available .range-year-label {
    background-color: var(--accessibility-public-bg);
  }

  &.accessibility-disabled .range-year-label {
    background-color: var(--accessibility-private-bg);
  }

  &.placeholder .range-year-label {
    background-color: transparent;
  }
}
