.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x2);
}

.form-control label {
  color: var(--color-text-light);
  font-size: var(--font-size-small);
  line-height: 20px;
  font-weight: 500;
}

.count {
  color: var(--color-text-disable);
  font-size: var(--font-size-small);
  line-height: 20px;
  margin-left: 5px;
}
