.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  gap: 5%;

  .search-bar {
    flex: 1;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__left .logo img {
    height: 32px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      color: var(--color-text);
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
