.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-x3) var(--spacing-x4);
  height: var(--header-height);
  gap: 5%;

  &.transparent {
    background-color: transparent;
  }

  &.light {
    background-color: var(--color-bg-base);
  }

  .search-bar {
    flex: 1;
    display: flex;
    gap: 20px;

    & > :first-child {
      flex: 1;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__left .logo img {
    height: 45px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      color: var(--color-text-secondary);
      text-decoration: none;
      font-weight: 500;
      font-size: var(--font-size-small);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
