<header class="app-header" [ngClass]="headerType">

  <div class="app-header__left">

    <a routerLink="/" class="logo" (click)="logoClicked()">
      <img src="/favicon.svg" alt="Česká digitální knihovna" />
    </a>

  </div>

  <div *ngIf="showSearchBar" class="search-bar">

    <app-autocomplete
      [inputTheme]="'dark'"
      [placeholder]="'search-input-placeholder' | translate"
      [minTermLength]="2"
      [initialValue]="searchService.inputSearchTerm"
      [getSuggestions]="searchService.getSuggestionsFn"
      [showHelpButton]="false"
      [showMicrophoneButton]="false"
      (search)="searchService.onSearch($event)"
      (submit)="searchService.onSubmit($event)"
      [inputTerm]="searchService.searchTerm"
      [showHistorySuggestions]="true"
      (suggestionSelected)="searchService.onSuggestionSelected($event)">
    </app-autocomplete>

    <button class="outlined" (click)="openAdvancedSearch()">
      {{'advanced-search' | translate}}
    </button>

  </div>

  <nav class="app-header__right">

<!--    <a routerLink="/about">{{'about-project' | translate}}</a>-->

    <app-user-info></app-user-info>

    <button class="icon-button outlined light" (click)="openSettings()">
      <i class="icon-settings"></i>
    </button>

    <app-lang-picker></app-lang-picker>

  </nav>

</header>
