<header class="app-header">

  <div class="app-header__left">

    <a routerLink="/" class="logo" (click)="logoClicked()">
      <img src="assets/img/logo.svg" alt="Česká digitální knihovna" />
    </a>

  </div>

  <div *ngIf="showSearchBar" class="search-bar">
    <app-autocomplete></app-autocomplete>
  </div>

  <nav class="app-header__right">
    <a routerLink="/folders">Sbirky</a>
    <a routerLink="/about">O projektu</a>
    <a routerLink="/login">Přihlásit</a>

    <app-lang-picker></app-lang-picker>
  </nav>
</header>
