<header class="app-header" [ngClass]="headerType">

  <div class="app-header__left">

    <a routerLink="/" class="logo" (click)="logoClicked()">
      <img [src]="currentAppTheme === AppSettingsThemeEnum.LIGHT ? '/favicon.svg' : '/favicon-dark.svg'" alt="Česká digitální knihovna" />
    </a>

  </div>

  <div *ngIf="showSearchBar" class="search-bar">

    <app-autocomplete
      [inputTheme]="'dark'"
      [placeholder]="autocompletePlaceholder | translate"
      [minTermLength]="2"
      [initialValue]="autocompleteService.searchTerm()"
      [getSuggestions]="autocompleteService.getSuggestionsFn"
      [showHelpButton]="false"
      [showMicrophoneButton]="false"
      (search)="autocompleteService.onSearch($event)"
      (submit)="autocompleteService.onSubmit($event)"
      [inputTerm]="autocompleteService.searchTerm"
      [showHistorySuggestions]="true"
      (suggestionSelected)="autocompleteService.onSuggestionSelected($event)">
    </app-autocomplete>

    <button class="outlined light"
            aria-label="{{'advanced-search' | translate}}"
            (click)="openAdvancedSearch()">
      {{'advanced-search' | translate}}
    </button>

  </div>

  <nav class="app-header__right">

    <a (click)="goToCollections()" class="cursor-pointer desktop-only">{{'collections' | translate}}</a>

    <!--    <a routerLink="/about">{{'about-project' | translate}}</a>-->

    <div class="desktop-only">
      <app-user-info></app-user-info>
    </div>

    <app-lang-picker></app-lang-picker>

    <button class="icon-button outlined light" aria-label="{{'settings' | translate}}" (click)="openSettings()">
      <i class="icon-settings-1"></i>
    </button>

    <button class="icon-button mobile-only hamburger-menu--btn"
            [class.primary]="isMobileMenuOpen"
            [class.outlined]="!isMobileMenuOpen"
            [class.light]="!isMobileMenuOpen"
            aria-label="Menu"
            (click)="toggleMobileMenu()">
      <i class="icon-hamburger-menu"></i>
    </button>

  </nav>

  <div class="mobile-menu" appClickOutside (clickOutside)="closeMobileMenu()" [class.open]="isMobileMenuOpen">
    <div class="mobile-menu__content">
      <a (click)="goToCollections()" class="cursor-pointer">{{'collections' | translate}}</a>
      <app-user-info></app-user-info>
    </div>
  </div>

</header>
