:host {
    display: block;
}

.hierarchy-selector--container {
    margin: var(--spacing-x4) 0;
}

.dialog-body {
  padding: 0 var(--spacing-x6) var(--spacing-x5) var(--spacing-x6);
}

.tab-item--content {
    min-height: 400px;
    font-family: monospace;
    word-break: break-all;
  background-color: var(--color-bg-bright);
  padding: var(--spacing-x2);
  margin-bottom: var(--spacing-x5);
  color: var(--color-text-base);
}

.tab--content {
  padding: 0;
}
