:host {
  height: 100%;
  overflow: hidden;
}

.filter-sidebar {
  display: block;
  background-color: var(--color-bg-base);
  width: 300px;
  height: 100%;
  font-family: inherit;

  &.scrollable {
    overflow-y: auto;
  }
}

.padding-sm {
  padding: var(--spacing-x4);
}

.padding-md {
  padding: 1.5rem;
}

.padding-lg {
  padding: 2.5rem;
}
