<div class="search-results-page">
	<div class="search-results-page--inner">

		<app-filter-sidebar></app-filter-sidebar>

		<div class="results-content">

			<div *ngIf="loading$ | async">Načítavam...</div>
			<div *ngIf="error$ | async as error">Chyba: {{ error }}</div>

			<ng-container *ngIf="!selectedYear()">
				<div class="view-toggle">
					<button (click)="changeView(ViewMode.Timeline)">Časová os</button>
					<button (click)="changeView(ViewMode.GridYears)">Mriežka</button>
				</div>

				<app-periodical-years-timeline
						*ngIf="viewMode() === ViewMode.Timeline"
						[years]="periodicalYears"
						(selectYear)="onSelectYear($event)">
				</app-periodical-years-timeline>

				<app-periodical-years-grid
						*ngIf="viewMode() === ViewMode.GridYears"
						[years]="periodicalYears"
						(selectYear)="onSelectYear($event)">
				</app-periodical-years-grid>
			</ng-container>

			<ng-container *ngIf="selectedYear() as year">
				<button *ngIf="selectedYear()" (click)="goBackToYears()">Späť na roky</button>

				<div class="view-toggle">
					<button (click)="changeView(ViewMode.Calendar)">Kalendár</button>
					<button (click)="changeView(ViewMode.GridIssues)">Mriežka</button>
				</div>

				<app-periodical-year-issues-calendar
						*ngIf="viewMode() === ViewMode.Calendar"
						[year]="year"
						[pid]="getSelectedPid() || ''">
				</app-periodical-year-issues-calendar>

				<app-periodical-year-issues-grid
						*ngIf="viewMode() === ViewMode.GridIssues"
						[year]="year"
						[pid]="getSelectedPid() || ''">
				</app-periodical-year-issues-grid>
			</ng-container>

		</div>

	</div>
</div>
