.search-results-page {
  display: flex;
  min-height: 100%;
  width: 100%;
  background-color: transparent;

  .results-content {
    flex: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.search-results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 16px;
  justify-content: center;
}
