:host {
  padding: 24px 20px 12px 20px;
  max-height: 80vh;
  overflow: hidden;
  background-color: var(--color-bg-base);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.close-button {
  font-size: 24px;
  padding: 5px;
}

.settings-dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  background-color: var(--color-bg-base);

  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    gap: 1rem;
  }
}
