<app-search-hero></app-search-hero>


<ng-container *ngFor="let section of sections">
    <app-periodicals-section *ngIf="section.type === 'periodicals'"></app-periodicals-section>
    <app-books-section *ngIf="section.type === 'books'"></app-books-section>
    <app-genres-section *ngIf="section.type === 'genres'"></app-genres-section>
    <app-document-types-section *ngIf="section.type === 'document-types'"></app-document-types-section>
    <app-map-section *ngIf="section.type === 'map'"></app-map-section>
    <app-authors-section *ngIf="section.type === 'authors'"></app-authors-section>
    <app-images-section *ngIf="section.type === 'images'"></app-images-section>
    <app-institutions-section *ngIf="section.type === 'institutions'"></app-institutions-section>

    <app-local-records-section *ngIf="section.type === 'local-records'" [config]="section"></app-local-records-section>
    <app-local-categories-section *ngIf="section.type === 'local-categories'" [config]="section"></app-local-categories-section>
</ng-container>

<app-footer></app-footer>