@use 'mixins' as m;

:host {
  display: block;
  padding: 0 var(--search-page-padding);
  height: calc(100vh - var(--header-height) - var(--playback-bar-height, 0px));
  overflow-y: auto;

  app-search-hero {
    display: block;
    margin-left: calc(var(--search-page-padding) * -1);
    margin-right: calc(var(--search-page-padding) * -1);
    margin-bottom: var(--spacing-x10);
  }

  app-periodicals-section,
  app-books-section,
  app-genres-section,
  app-document-types-section,
  app-featured-documents-section,
  app-link-tiles-section {
    display: block;
    margin-bottom: var(--spacing-x24);
  }

  app-footer {
    margin-left: calc(var(--search-page-padding) * -1);
    margin-right: calc(var(--search-page-padding) * -1);
  }
}

// Responsive styles
@include m.respond(md) {

  :host {
    padding: 0 var(--spacing-x3);

    app-search-hero {
      margin-left: calc(var(--spacing-x3) * -1);
      margin-right: calc(var(--spacing-x3) * -1);
    }

    app-periodicals-section,
    app-books-section,
    app-genres-section,
    app-document-types-section,
    app-featured-documents-section,
    app-link-tiles-section {
      margin-bottom: var(--spacing-x16);
    }

    app-footer {
      margin-left: calc(var(--spacing-x3) * -1);
      margin-right: calc(var(--spacing-x3) * -1);
    }
  }

}
