.form-control label {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-small);
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;

  &.checked {
    color: var(--color-text-base);
  }
}

.count {
  color: var(--color-text-light);
  font-size: var(--font-size-small);
  line-height: 20px;
  margin-left: 5px;

  &.checked {
    color: var(--color-text-tertiary);
  }
}
