:host ::ng-deep .mat-mdc-checkbox .mat-internal-form-field {
  //align-items: flex-start;
}

:host:hover {
  .form-control label {
    color: var(--color-text-base);
  }

  .icon {
    border-color: var(--color-primary);
  }
}

.form-control label {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-1);
  font-weight: 500;
  cursor: pointer;
  transition: all .4s;

  &.checked {
    color: var(--color-text-base);
  }
}

.form-control {
  justify-content: space-between;
  cursor: pointer;
}

.label-wrapper {
  display: flex;
  align-items: baseline;
}

.count {
  color: var(--color-text-light);
  font-size: var(--font-size-small);
  line-height: var(--line-height-1);
  margin-left: 5px;
  white-space: nowrap;
  flex-shrink: 0;

  &.checked {
    color: var(--color-text-tertiary);
  }
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: var(--spacing-x1);
  background: var(--color-bg-light);
  border: 1px solid transparent;
  transition: all .4s;

  &.active {
    border-color: var(--color-primary);
  }

  &.icon--flag {
    border-radius: 50%;
  }

  i {
    font-size: var(--font-size-base);
  }

  .flag-icon {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
}

:host ::ng-deep .mdc-form-field {
  align-items: start;

  .mdc-checkbox {
    margin-top: 1px;
  }
}
