<label class="form-control">

  <mat-checkbox [checked]="checked" [disabled]="disabled" (change)="toggled.emit()" color="tertiary">
    <label [class.checked]="checked" (click)="toggled.emit()">
      @if (isLicense) {
        @if (truncateLabel) {
          {{ (label | configLabel:'license').length > 15 ? (label | configLabel:'license').slice(0, 15) + '...' : (label | configLabel:'license') }}
        } @else {
          {{ label | configLabel:'license' }}
        }
      } @else {
        @if (truncateLabel) {
          {{ (label | translate).length > 15 ? (label | translate).slice(0, 15) + '...' : (label | translate) }}
        } @else {
          {{ label | translate }}
        }
      }
    </label>

    <span class="count" [class.checked]="checked">({{ count | formatNumber }})</span>
  </mat-checkbox>

  @if (icon) {
  <span class="icon" [class.icon--flag]="isImageIcon" [class.active]="checked">
    @if (isImageIcon) {
    <img [src]="icon" [alt]="label" class="flag-icon flag rounded">
    } @else {
    <i [ngClass]="[icon, itemIconClass || '']"></i>
    }
  </span>
  }

</label>
