<label class="form-control">

  <mat-checkbox [checked]="checked" [disabled]="disabled" (change)="toggled.emit()" color="tertiary">
    <span class="label-wrapper">
      <label [class.checked]="checked" (click)="toggled.emit()">
        @if (isLicense) {
          @if (truncateLabel) {
            {{ (label | configLabel:'license').length > 15 ? (label | configLabel:'license').slice(0, 15) + '...' : (label | configLabel:'license') }}
          } @else {
            {{ label | configLabel:'license' }}
          }
        } @else {
          @if (truncateLabel) {
            {{ (label | translate).length > 15 ? (label | translate).slice(0, 15) + '...' : (label | translate) }}
          } @else {
            {{ label | translate }}
          }
        }
      </label>
      <span class="count" [class.checked]="checked">({{ count | formatNumber }})</span>
    </span>
  </mat-checkbox>

  @if (langCode) {
  <span class="icon icon--flag" [class.active]="checked">
    <app-language-badge [size]="20" [lang]="langCode" [src]="icon" [rounded]="true" [active]="checked"></app-language-badge>
  </span>
  } @else if (colorDot) {
  <span class="color-dot" [class.active]="checked" [style.--dot-color]="colorDot"></span>
  } @else if (icon) {
  <span class="icon" [class.active]="checked">
    <i [ngClass]="[icon, itemIconClass || '']"></i>
  </span>
  }

</label>
