.chip-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0.5rem 0;

  mat-chip-list {
    flex-grow: 1;
  }
}

.tags-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

label {
  color: var(--color-text-base);
}

.text-first-letter-capitalize mat-chip label {
  display: inline-block;
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}

button.remove-button i {
  color: var(--color-primary);
}

mat-chip {
  border-radius: var(--spacing-x2);
  border: 1px solid var(--color-border-primary-default);
  background-color: var(--color-secondary) !important;
  font-size: var(--font-size-small);
  padding: var(--spacing-x1) var(--spacing-x2);
}

.filter-chip.and-operator {
  border-right: 3px solid var(--color-primary);
}

:host .mat-mdc-button:not(:disabled).clear-button {
  color: var(--color-text-btn-secondary-default);
  text-decoration: underline;
}
