<div class="selected-tags" *ngIf="items.length > 0">
  <div class="tags-wrapper">
    <button *ngIf="clearButtonPosition === 'left'"
            mat-button
            class="clear-button"
            (click)="clearAll.emit()">
      {{'delete-all' | translate}}
    </button>

    <mat-chip-set>
      <ng-container *ngFor="let field of uniqueFields">
        <!-- Operátor pre skupinu (ak povolený a je AND) -->
        <mat-chip
          *ngIf="showOperators && getOperatorForField(field)"
          (removed)="removeGroup.emit(field)"
          class="operator-chip">
          {{ field }}: {{ getOperatorForField(field) }}
          <button matChipRemove>×</button>
        </mat-chip>

        <ng-container *ngFor="let item of getItemsForField(field)">
          <mat-chip (removed)="remove.emit(item)" class="filter-chip">
            <ng-container *ngIf="translateItems; else rawValue">
              <ng-container *ngIf="showFieldNames && field !== 'default'; else valueOnly">
                {{ getValue(item) | translate }}
              </ng-container>
              <ng-template #valueOnly>{{ getValue(item) | translate }}</ng-template>
            </ng-container>
            <ng-template #rawValue>
              <ng-container *ngIf="showFieldNames && field !== 'default'; else rawOnly">
                {{ getValue(item) }}
              </ng-container>
              <ng-template #rawOnly>{{ getValue(item) }}</ng-template>
            </ng-template>
            <button matChipRemove>×</button>
          </mat-chip>
        </ng-container>
      </ng-container>
    </mat-chip-set>

    <button *ngIf="clearButtonPosition === 'right'"
            mat-button
            class="clear-button"
            (click)="clearAll.emit()">
      {{'delete-all' | translate}}
    </button>
  </div>
</div>
