.badge {
  display: inline-block;
  background-color: var(--color-bg-light);
  padding: 0.1em 0.3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
}

.badge.badge-xs {
  font-size: var(--font-size-xxsmall);
  line-height: var(--line-height-xs);
}
