button {
  background: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

button.icon-button {
  padding: 10px 12px;
  background: var(--color-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

button.sm {
  padding: 8px 12px;
  font-size: 12px;
}

button.xs {
  padding: 2px 6px;
  font-size: 11px;
}

button.primary {
  background: var(--color-primary);
  color: #fff;
}

button.light {
  background: var(--color-light-button-bg);
  color: var(--color-light-button-text);
}

button.main {
  background: var(--color-main-button-bg);
  color: var(--color-text);
}

button.outlined {
  background: none;
  border: 1px solid var(--color-primary);
}

button.outlined-dark {
  background: none;
  border: 1px solid var(--color-text-darker);
  color: var(--color-text-darker);

  &:disabled {
    color: var(--color-main-button-bg);
    border-color: var(--color-main-button-bg);
  }
}

button.rounded {
  border-radius: 50%;
}
