input {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid var(--color-border-bright);
  border-radius: 4px;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.autocomplete .mdc-line-ripple {
  display: none;
}

.autocomplete .mat-mdc-text-field-wrapper {
  background-color: var(--color-bg-base);
  border-radius: 14px;
}

.autocomplete .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
