// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './theme-colors' as colors;

$custom-radius: 4px;

:root {
  --mdc-checkbox-state-layer-size: 16px;
  --mat-checkbox-state-layer-size: 16px;
  --mdc-radio-state-layer-size: 16px;
  --mat-radio-state-layer-size: 16px;
}

html {
  @include mat.theme((
    color: (
      primary: colors.$primary,
      tertiary: colors.$secondary,
      theme-type: light,
    ),
    typography: ('IBM Plex Sans', sans-serif),
    density: 0,
    theme-shape: (
      border-radius: $custom-radius
    )
  ));
}

@include mat.core();

:root {
  --mat-sys-corner-extra-large: 0;
}

.mat-mdc-dialog-surface {
  background-color: transparent !important;
}

.mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before {
  border: none !important;
  border-width: 0 !important;
  border-radius: 0 !important;
  border-style: unset !important;
}

.mat-mdc-chip-edit::after, .mat-mdc-chip-remove::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  color: var(--color-primary) !important;
}

.mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
  padding-left: 0 !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--secondary {
  padding: 0 !important;
  color: var(--color-primary) !important;
}

div.mat-mdc-autocomplete-panel {
  background-color: var(--color-bg-base) !important;
  border-radius: var(--base-border-radius) !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid var(--color-primary) !important;
  margin-top: 4px !important;
}

.mat-mdc-option {
  padding: var(--spacing-x2) var(--spacing-x4) !important;
  width: 100% !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: transparent !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  width: 100% !important;
}

.has-issue .mat-calendar-body-cell-content {
  border-radius: var(--spacing-x2);
}

.mat-calendar-body-cell-content {
  color: var(--color-text-btn-tertiary-default) !important;
  border-radius: var(--spacing-x2) !important;
}

.custom-label .mat-calendar-body-label {
  visibility: hidden !important;
}


// Custom styles for Angular Material Switch
.mdc-switch__track::before, .mdc-switch__track::after {
  border: none !important;
}

.mat-mdc-slide-toggle .mdc-switch--unselected .mdc-switch__handle {
  width: var(--mat-switch-unselected-handle-size, 24px) !important;
  height: var(--mat-switch-unselected-handle-size, 24px) !important;
  margin: var(--mat-switch-unselected-handle-horizontal-margin, 0 5px) !important;
}

.mat-mdc-slide-toggle .mdc-switch--selected .mdc-switch__handle {
  margin: var(--mat-switch-unselected-handle-horizontal-margin, 0 15px) !important;
}

.mdc-switch__track::before {
  background-color: var(--color-bg-bright) !important;
}

.mdc-switch--unselected:enabled .mdc-switch__handle::after, .mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: var(--color-text-on-color) !important;
}

// checkbox
mat-checkbox {
  --mdc-checkbox-unselected-icon-color: var(--color-border-contrast);
  --mdc-checkbox-state-layer-size: 16px;
  --mat-checkbox-state-layer-size: 16px;
}

.mat-mdc-checkbox {
  display: flex !important;
}

.mat-mdc-checkbox.p-left-0 .mdc-checkbox {
  padding-left: 0 !important;
}

.mat-mdc-checkbox .mdc-checkbox {
  width: 16px !important;
  height: 16px !important;
  flex: 0 0 16px !important;
  padding: 0 !important;
}

.mat-mdc-checkbox .mdc-checkbox__background {
  width: 16px !important;
  height: 16px !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 4px !important;
  border-color: var(--color-border-contrast) !important;
  border-width: 1px !important;
}

.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background {
  border-color: var(--color-primary) !important;
}

.mat-mdc-checkbox .mdc-checkbox__checkmark {
  width: 70% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.mat-mdc-checkbox .mdc-checkbox__native-control {
  width: 16px !important;
  height: 16px !important;
}

.mat-mdc-checkbox .mat-mdc-checkbox-touch-target {
  width: 16px !important;
  height: 16px !important;
}

.mat-mdc-checkbox .mdc-checkbox__ripple {
  display: none !important;
}

// radio
.mat-mdc-radio-button .mdc-label {
  cursor: pointer !important;
}

.mat-mdc-radio-button .mdc-radio {
  display: flex !important;
  align-items: center;
  width: var(--mdc-radio-state-layer-size) !important;
  height: var(--mdc-radio-state-layer-size) !important;
  cursor: pointer;
  will-change: opacity, transform, border-color, color;
  padding: calc((var(--mat-radio-state-layer-size, 40px) - var(--mdc-radio-state-layer-size)) / 2);
}

.mat-mdc-radio-button .mdc-radio__background {
  width: var(--mdc-radio-state-layer-size) !important;
  height: var(--mdc-radio-state-layer-size) !important;
}

.mat-mdc-radio-button .mdc-radio__background::before {
  top: calc(-1 * (var(--mat-radio-state-layer-size, 40px) - var(--mdc-radio-state-layer-size)) / 2);
  left: calc(-1 * (var(--mat-radio-state-layer-size, 40px) - var(--mdc-radio-state-layer-size)) / 2);
}

.mat-mdc-radio-button .mat-internal-form-field {
  color: var(--color-text-light) !important;
  font-size: var(--font-size-small) !important;
}

mat-slide-toggle.size-sm {
  --mdc-switch-track-width: 32px;
  --mdc-switch-track-height: 20px;
  --mat-switch-unselected-handle-size: 14px;
  --mat-switch-selected-handle-size: 14px;
  --mdc-switch-state-layer-size: 14px;
  --mdc-switch-unselected-state-layer-size: 14px;
  --mat-switch-selected-handle-horizontal-margin: 0 14px;
}

mat-slide-toggle.size-sm .mdc-switch {
  width: 32px !important;
  height: 20px !important;
}

mat-slide-toggle.size-sm .mdc-switch__track {
  width: 32px !important;
  height: 20px !important;
  border-radius: 10px !important;
}

mat-slide-toggle.size-sm .mdc-switch__handle {
  width: 14px !important;
  height: 14px !important;
}
