:root {
  --base-padding: 20px;
  --base-margin: 20px;
  --base-gap: 20px;
  --base-border-radius: 8px;

  --search-page-padding: 25px;

  --item-card-shadow: 0 6px 15.9px 0 rgba(0, 0, 0, 0.12);

  --font-size-small: 14px;

  --header-height: 71px;
  --small-gap: 2px;
}
