:root {
  --base-padding: 20px;
  --base-margin: 20px;
  --base-gap: 20px;
  --base-border-radius: 8px;

  --search-page-padding: 25px;

  --item-card-shadow: 0 6px 15.9px 0 rgba(0, 0, 0, 0.12);

  --font-size-small: calc(14px * var(--accessibility-text-scale));
  --font-size-base: calc(16px * var(--accessibility-text-scale));
  --font-size-large: calc(18px * var(--accessibility-text-scale));

  --header-height: 71px;
  --toolbar-height: 56px;
  --small-gap: 2px;

  --spacing-x1: 4px;
  --spacing-x2: 8px;
  --spacing-x3: 12px;
  --spacing-x4: 16px;
  --spacing-x5: 20px;
  --spacing-x6: 24px;
  --spacing-x7: 28px;
  --spacing-x8: 32px;
  --spacing-x12: 48px;
  --spacing-x24: 96px;

  --line-height-1: calc(20px * var(--accessibility-text-scale));
  --line-height-2: calc(24px * var(--accessibility-text-scale));
}