// This file contains generated color palettes
@use 'sass:map';
@use '@angular/material' as mat;

// Updated color palettes using variables.scss colors
$_palettes: (
  primary: (
    0: #000000,
    10: #001d43,
    20: #00336e,
    25: #003A79, // --color-primary-pressed
    30: #00499a,
    35: #004D9E, // --color-primary-hover
    40: #0063CC, // --color-primary
    50: #0e77e8,
    60: #3d8fff,
    70: #63a9ff,
    80: #8ac2ff,
    90: #b8daff,
    95: #CCE5FF, // --color-primary-disabled
    98: #f3f7ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #171E26, // --color-secondary (dark)
    20: #303030,
    25: #3b3b3b,
    30: #474747,
    35: #525252,
    40: #5e5e5e,
    50: #777777,
    60: #919191,
    70: #ababab,
    80: #c6c6c6,
    90: #EFF2F5, // --color-secondary-hover
    95: #F6F7F9, // --color-secondary-disabled
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff, // --color-secondary
  ),
  tertiary: (
    0: #000000,
    10: #171e26,
    20: #263340,
    25: #394C60, // --color-tertiary-hover (dark)
    30: #4C6580, // --color-tertiary-pressed (dark)
    35: #8099B3, // --color-tertiary (dark)
    40: #9FB2C6, // --color-tertiary-pressed
    50: #BFCCD9, // --color-tertiary-hover
    60: #DFE5EC, // --color-tertiary
    70: #eff2f5,
    80: #F6F7F9, // --color-tertiary-disabled
    90: #f9f9f9,
    95: #fcfcfc,
    98: #fefefe,
    99: #ffffff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #101d26,
    20: #26323c,
    25: #313d47,
    30: #3c4853,
    35: #47545f,
    40: #53606b,
    50: #6c7984,
    60: #85929e,
    70: #a0adb9,
    80: #bbc8d5,
    90: #d7e4f1,
    95: #e6f2ff,
    98: #f6f9ff,
    99: #fcfcff,
    100: #ffffff,
    4: #040f18,
    6: #08151e,
    12: #15212a,
    17: #1f2b35,
    22: #2a3640,
    24: #2e3b45,
    87: #cfdce9,
    92: #ddeaf7,
    94: #e2effd,
    96: #ebf5ff,
  ),
  neutral-variant: (
    0: #000000,
    10: #191c20,
    20: #2d3135,
    25: #383c40,
    30: #44474b,
    35: #4f5357,
    40: #5b5f63,
    50: #74777c,
    60: #8e9195,
    70: #a9abb0,
    80: #c4c6cb,
    90: #e0e2e7,
    95: #eff1f6,
    98: #f7f9fe,
    99: #fcfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #FF3A30, // --color-error
    50: #FF443A, // --color-error (dark)
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

$primary: $primary-palette;
$secondary: $tertiary-palette;
