.text-bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.accessibility-public {
  background-color: var(--accessibility-public-bg) !important;
  color: var(--accessibility-public-text-color) !important;
  --accessibility-bg: var(--accessibility-public-bg);
}

.accessibility-private {
  background-color: var(--accessibility-private-bg) !important;
  color: var(--accessibility-private-text-color) !important;
  --accessibility-bg: var(--accessibility-private-bg);
}

