:root {
  --color-bg: #EFF2F5;

  --color-text: #263340;
  --color-text-darker: #0A0D10;

  --color-primary: #717C88;
  --color-secondary: #f1f3f4;
  --color-tertiary: #8099B3;

  --color-border-default: #8099B3;
  --color-border-light: #DFE5EC;

  --color-container-bg: #fff;

  --color-main-button-bg: #BFCCD9;
}

:root.dark {
}
