@use './_theme-colors';
@use './material';
@use './variables';
@use './sizes';
@use './mixins';
@use './scrollbar';
@use "./_typography";
@use "./_forms";
@use "./_buttons";
@use "./_badge";
@use "./_dialog";
@use "./_grid";
@use "./_carousel";
@use "./_page-layout";
@use "./_sidebar";
@use "./_icons";
@use "./_skeleton";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  background-color: var(--color-bg-light);
  color: var(--color-text-secondary);
}

hr {
  border: none;
  border-top: 1px solid var(--color-border-light);
  margin: 20px 0;
}

.cursor-pointer {
  cursor: pointer;
}
