@use './variables';
@use './sizes';
@use './mixins';
@use './scrollbar';
@use "./_typography";
@use "./_forms";
@use "./_buttons";
@use "./_badge";

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
