<div class="playback-bar" *ngIf="show()">
  <div class="left">
    <img class="cover" [src]="musicService.getCoverImageForTrack(soundService.getCurrentTrack()?.parentPid)" alt="Cover" />
    <div class="info">
      <div class="title cursor-pointer" (click)="openTrackDetails()">{{ soundService.getCurrentTrack()?.['title.search'] }}</div>
      <div class="meta cursor-pointer" (click)="openTrackDetails()">
        @if (soundService.getCurrentTrack()?.authors && soundService.getCurrentTrack()!.authors!.length > 0) {
          {{ soundService.getCurrentTrack()!.authors![0] }}
        } @else if (musicService.authorForTrack) {
          {{ musicService.authorForTrack }}
        }
        @if (soundService.getCurrentTrack()?.year || musicService.metadata?.dateStr) {
          · {{ soundService.getCurrentTrack()?.year || musicService.metadata?.dateStr }}
        }
        @if (soundService.getCurrentTrack()?.part) {
          · {{ 'page' | translate }} {{ soundService.getCurrentTrack()!.part }}
        }
      </div>
    </div>
  </div>

  <div class="center">
    <div class="controls">
      <button (click)="prev()" class="outlined tertiary"><i class="icon-previous"></i></button>
      <button (click)="togglePlay()" class="primary">
        <i [class.icon-play]="!soundService.isPlayingSignal()" [class.icon-pause]="soundService.isPlayingSignal()"></i>
      </button>
      <button (click)="next()" class="outlined tertiary"><i class="icon-next"></i></button>
    </div>
  </div>

  <div class="timeline">
    <span>{{ soundService.getCurrentTime() | timeFormat }}</span>
    <input
      type="range"
      min="0"
      max="100"
      class="hide-thumb"
      [style.--progress]="(soundService.getProgress() * 100) + '%'"
      [value]="soundService.getProgress() * 100"
      (input)="seekTo($event)"
    />
    <span>{{ soundService.getDuration() | timeFormat }}</span>
  </div>


  <div class="right">

    <button (click)="toggleQueue()" class="outlined tertiary"><i class="icon-music-filter"></i></button>

    <app-volume-control
      [volume]="volume"
      (volumeChange)="onVolumeChange($event)"
    ></app-volume-control>

    <button (click)="close()" class="icon-button rounded light"><i class="icon-x"></i></button>
  </div>
</div>

@if (isQueueOpen()) {
  <app-playback-queue></app-playback-queue>
}
