<div class="year-navigator">

  <button (click)="prev()">
    <i class="icon-arrow-left-1"></i>
  </button>

  <h2
    [class.clickable]="enableCalendarPopup"
    (click)="toggleCalendar()">
    {{ value }}
  </h2>

  <button (click)="next()">
    <i class="icon-arrow-right-1"></i>
  </button>

  <app-calendar-popup
    *ngIf="showCalendarPopup()"
    [year]="getYearFromValue()"
    [preselectedDate]="value"
    (dateSelected)="onCalendarDateSelected($event)"
    (closePopup)="closeCalendar()">
  </app-calendar-popup>

</div>
