<ng-container *ngIf="visibleItems().length > 0">

  <div>
    <div class="category--header">

      <h4>

        {{label | translate}}

        <span *ngIf="hasAndOperator" class="and-indicator">AND</span>

      </h4>

      <i class="icon-minus-square cursor-pointer" (click)="toggleExpanded()"></i>

    </div>

    <div [@expandCollapse]="expanded ? 'expanded' : 'collapsed'">

      <app-filter-item *ngFor="let facet of visibleItems() | slice:0:maxItems" [label]="facet.name" [checked]="isSelected(facet.name)" [count]="facet.count" [truncateLabel]="true" (toggled)="onToggle(facet.name)"></app-filter-item>

      <button class="button primary link" *ngIf="shouldShowMoreButton" (click)="openFilterDialog(facetKey, label, items)">
        {{ 'show-more' | translate }}

        <i class="icon-arrow-right-1"></i>
      </button>

    </div>

  </div>

  <hr>

</ng-container>


