<ng-container *ngIf="loading || visibleItems().length > 0 || type === 'dateRange' || type === 'yearRange'">

  <div>

    @if (label && label.length > 0) {
      <div class="category--header">

        <h4 *ngIf="!loading">

          {{label | translate}}

          <span *ngIf="hasAndOperator" class="and-indicator">{{ 'and-operator' | translate }}</span>

        </h4>

        <div *ngIf="loading" class="filters-skeleton--header"></div>

        <i class="icon-minus-square cursor-pointer" *ngIf="!loading && showToggleExpand" (click)="toggleExpanded()"></i>

      </div>
    }

    <div class="flex flex--gap-x2 flex--column pt-1" *ngIf="loading">
      <ng-container *ngFor="let i of (null | skeletonList:12)">
        <div class="filters-skeleton--row">
          <div class="filters-skeleton--checkbox"></div>
          <div class="filters-skeleton--text"></div>
        </div>
      </ng-container>
    </div>

    <div class="flex flex--gap-x2 flex--column pt-1" *ngIf="!loading"
      [@expandCollapse]="expanded ? 'expanded' : 'collapsed'">

      <ng-container *ngIf="type === 'checkbox'">
        <ng-container *ngFor="let item of visibleItems() | slice:0:maxItems; trackBy: trackByItemName">
          <app-filter-item [label]="item.name" [facetKey]="facetKey" [checked]="isSelected(item.name)" [icon]="item.icon || null"
            [itemIconClass]="item.iconClass" [count]="item.count" [truncateLabel]="false"
            (toggled)="onToggle(item.name)"></app-filter-item>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="type === 'radio'">
        <app-filter-items-radio [items]="visibleItems()" [selected]="getSelectedRadioValue()"
          (changed)="onRadioChange($event)"></app-filter-items-radio>
      </ng-container>

      <ng-container *ngIf="type === 'range'">
        <app-range-slider [min]="getRangeMin()" [max]="getRangeMax()" [step]="1" [initialFrom]="getRangeFrom()"
          [initialTo]="getRangeTo()" (rangeChange)="onRangeChange($event)"
          [showInputNumberStepper]="false"></app-range-slider>
      </ng-container>

      <ng-container *ngIf="type === 'dateRange'">
        <app-date-picker [initialDateFrom]="getDateFrom()" [initialDateTo]="getDateTo()" [size]="'md-lg'"
          [initialOffset]="getDateOffset()" (datePickerChange)="onDatePickerChange($event)"></app-date-picker>
      </ng-container>

      <ng-container *ngIf="type === 'yearRange'">
        <app-range-slider [min]="getRangeMin()" [max]="getRangeMax()" [step]="1" [initialFrom]="getRangeFrom()"
          [initialTo]="getRangeTo()" (rangeChange)="onRangeChange($event)" [inputStyle]="'wide'"
          [showInputNumberStepper]="false"></app-range-slider>
      </ng-container>

      <button class="button primary link p-left-0 flex--space-start" *ngIf="shouldShowMoreButton"
        (click)="openFilterDialog(facetKey, label, items)">
        {{ 'show-more' | translate }}

        <i class="icon-arrow-right-1"></i>
      </button>

      <ng-content #categoryContent></ng-content>

    </div>

  </div>


  <hr *ngIf="showBottomBorder">

</ng-container>
