<div>
  <div class="category--header">

    <h4>{{label}}</h4>

    <button class="icon-button outlined-dark xs" (click)="toggleExpanded()">
      {{expanded ? '-' : '+'}}
    </button>

  </div>

  <div [@expandCollapse]="expanded ? 'expanded' : 'collapsed'">

    <app-filter-item *ngFor="let facet of visibleItems() | slice:0:maxItems" [label]="facet.name" [checked]="isSelected(facet.name)" [count]="facet.count" [truncateLabel]="true" (toggled)="onToggle(facet.name)"></app-filter-item>

    <button *ngIf="showShowMoreButton && items.length > maxItems" (click)="openFilterDialog(facetKey, label, items)">
      {{ 'Show all' | translate }}
    </button>

  </div>

</div>

<hr>
