<div class="autocomplete">

  <div class="autocomplete-field">

    <div class="autocomplete-input" [ngClass]="inputTheme">

      <input
        type="text"
        [value]="inputTerm()"
        (input)="onInputChange($event)"
        [matAutocomplete]="auto"
        [placeholder]="'Hledat ve všech dokumentech' | translate"
      />

      <span class="input--icons">

        <i class="icon-question input--icon"></i>

        <i class="icon-microphone-2 input--icon"></i>

      </span>

    </div>

    <button type="button" class="icon-button submit-btn" (click)="search()">
      <i class="icon-search-normal"></i>
    </button>

  </div>

  <mat-autocomplete
    #auto="matAutocomplete"
    autoActiveFirstOption
    (optionSelected)="onSelectSuggestion($event)"
  >
    @for (option of suggestions(); track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>

</div>

