@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.autocomplete-overrides((
    background-color: orange,
  ));
}

.autocomplete {
  width: 100%;
  display: flex;
  justify-content: center;

  form {
    width: 100%;
  }

  .autocomplete-field {
    width: 100%;
    background-color: var(--color-bg-light);
    border-radius: 14px;

    input {
      font-size: 16px;
      padding: 0;
      border: none;
      background: transparent;
      outline: none;
      color: var(--color-text-secondary);
    }
  }

  .input--icons {
    display: flex;
    align-items: center;
    gap: 8px;

    .input--icon {
      color: var(--color-text-light);
      cursor: pointer;

      &:hover {
        color: var(--color-text-secondary);
      }
    }
  }
}
