<div class="autocomplete">

  <app-input
    [theme]="inputTheme"
    [placeholder]="placeholder"
    [initialValue]="inputTerm()"
    [autocomplete]="auto"
    [showMicButton]="true"
    [showHelpButton]="true"
    [showSubmitButton]="true"
    [submitIcon]="'icon-search-normal'"
    (valueChange)="onInputValueChange($event)"
    (enter)="onSearch()"
    (submit)="onSubmit()">
  </app-input>

  <mat-autocomplete
    #auto="matAutocomplete"
    autoActiveFirstOption
    (optionSelected)="onSelectSuggestion($event)"
  >
    @for (option of suggestions(); track $index) {
      <mat-option [value]="option">
        <label>{{ option }}</label>
      </mat-option>
    }
  </mat-autocomplete>

  <div *ngIf="isLoading()" class="loading-indicator">
    <!-- Loading spinner or indicator -->
  </div>

</div>


