<div class="autocomplete">

  <app-input
    [theme]="inputTheme"
    [size]="size"
    [placeholder]="placeholder | translate"
    [initialValue]="inputTerm()"
    [autocomplete]="auto"
    [showMicButton]="showMicrophoneButton"
    [showHelpButton]="showHelpButton"
    [showSubmitButton]="showSubmitButton"
    [showClearButton]="showClearButton"
    [signalInput]="inputTerm"
    [submitIcon]="'icon-search-normal'"
    [withIcons]="withIcons"
    (valueChange)="onInputValueChange($event.toString())"
    (enter)="onSearch()"
    (submit)="onSubmit()">
  </app-input>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelectSuggestion($event)"
  >
    @for (option of suggestions(); track $index) {
      <mat-option [value]="option">
        <label [innerHTML]="highlight(option, inputTerm())"></label>
      </mat-option>
    }
  </mat-autocomplete>

  <div *ngIf="isLoading()" class="loading-indicator">
    <!-- Loading spinner or indicator -->
  </div>

</div>


