<div class="selection-mode-info has-selection">
  <div class="selection-mode-info--header">
    <span>{{ 'selection-edit-or-cancel' | translate }}</span>
    <div class="selection-mode-info--actions">
      <button class="button primary sm" (click)="onEditSelection()">
        {{ 'ok' | translate }}
      </button>
    </div>
  </div>
  @if (showTip()) {
    <div class="selection-mode-info--tip">
      <div class="tip-row">
        <span>{{ 'selection-tip-right-click' | translate }}</span>
      </div>
      <label class="tip-row checkbox-row">
        <input type="checkbox" (change)="onDontShowAgainChange($any($event.target).checked)">
        <span>{{ 'selection-tip-dont-show-again' | translate }}</span>
      </label>
    </div>
  }
</div>
