@use "mixins";
@use "_z-index.scss" as z;

$top-toolbar-height: 56px;

.detail-layout {
  height: calc(100vh - var(--header-height) - var(--playback-bar-height, 0px));
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &--body {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex: 1 1 auto;
    padding-top: var(--small-gap);
    gap: var(--small-gap);
  }

  &--sidebar-left {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x4);
    padding: var(--spacing-x4);
    height: 100%;
    flex: 0 0 280px;

    overflow: hidden;
  }

  &--main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &--action-toolbar {
    flex: 0 0 auto;
    width: 100%;
  }

  &--main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: var(--small-gap);
    padding-right: var(--small-gap);

    &--with-right-sidebar {
      flex-direction: row;
      gap: 1px;
    }
  }

  &--sidebar-right {
    @include mixins.floating-sidebar;
  }

  &--bottom-toolbar {
    padding: var(--spacing-x2) var(--spacing-x4);
    background: var(--color-bg-base);
    z-index: z.$detail-layout-toolbar;
    flex: 0 0 auto;
    border-radius: 8px 8px 0 0;

    &.constrained {
      flex: 0 0 auto;
    }
  }
}