:host {
  display: inline-block;
  position: relative;
}

.menu-trigger {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-x2);
  padding: var(--spacing-x3) var(--spacing-x4);
  border-radius: var(--spacing-x2);
  border: 1px solid var(--color-border-bright);
  background: var(--color-secondary);
  cursor: pointer;
  transition: background-color .15s;
  font-size: var(--font-size-small);
  line-height: var(--line-height-xs);

  i {
    color: var(--color-text-btn-secondary-default);
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    line-height: 1;
  }
}

.menu-trigger[aria-expanded='true'] {
  border: 1px solid var(--color-primary);
}

.menu-trigger:hover {
  background: var(--color-secondary-hover);
  border: 1px solid var(--color-primary);
}

.name {
  font-weight: 500;
  color: var(--color-text-btn-secondary-default);
}

.menu-panel {
  min-width: 230px;
  background: var(--color-bg-base);
  border: 1px solid var(--color-primary);
  border-radius: var(--spacing-x2);
  outline: none;
  overflow: clip;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: var(--spacing-x1);
}

.divider {
  height: 1px;
  background: var(--color-bg-light);
  margin: 0;
}

.menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--spacing-x3);
  background: transparent;
  border: 0;
  text-align: left;
  padding: var(--spacing-x2) var(--spacing-x4);
  cursor: pointer;
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-1);

  i {
    font-size: var(--font-size-base);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
  }
}

.menu-item:hover, .menu-item:focus-visible {
  background: var(--color-bg-light);
  outline: none;
}

.menu-item.danger {
  color: var(--color-error);
}
