.info-banner {
  display: flex;
  align-items: center;
  gap: var(--spacing-x3);
  min-height: var(--info-banner-height);
  padding: var(--spacing-x2) var(--spacing-x3);

  &--primary {
    background: var(--color-primary);
    color: var(--color-text-on-color);

    .info-banner__icon i { color: var(--color-icon-on-color, var(--color-text-on-color)); }
    .info-banner__title,
    .info-banner__message { color: var(--color-text-on-color); }
  }

  &--light {
    background: var(--color-bg-low-efford);
    color: var(--color-text-base);
  }

  &--success {
    background: var(--color-bg-available);
    color: var(--color-text-available);

    .info-banner__icon i { color: var(--color-text-available); }
    .info-banner__title,
    .info-banner__message { color: var(--color-text-available); }
  }

  &__icon i { font-size: var(--font-size-xlarge); color: var(--color-text-low-efford);}

  &__text {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    line-height: var(--line-height-1);
    color: var(--color-text-low-efford);
    min-width: 0;
    flex: 1;
  }

  &__title { margin: 0; font-weight: 700; }
  &__message { margin: 0; }

  &__dont-show {
    ::ng-deep .mdc-label {
      font-size: var(--font-size-small);
      color: var(--color-text-low-efford);
    }

    ::ng-deep .mdc-checkbox__background {
      border-color: var(--color-text-low-efford) !important;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-x2);
    margin-left: auto;
    flex-shrink: 0;

    button {
      padding: var(--spacing-x2) var(--spacing-x4);
      gap: var(--spacing-x1);
      border: 1px solid var(--color-border-secondary-default);
    }
  }
}
