::ng-deep {
  pdf-sidebar {
    display: none !important;
  }

  html[dir=ltr] ngx-extended-pdf-viewer #outerContainer.sidebarOpen #viewerContainer:not(.pdfPresentationMode) {
    left: 0 !important;
  }

  .pdf-viewer-container {
    background: transparent !important;
  }

  #viewerContainer {
    background: transparent !important;
    scroll-behavior: smooth !important;
  }

  .pdfViewer {
    background: transparent !important;
  }

  .page {
    transition: opacity 0.2s ease-in-out;
  }
}

app-pdf-viewer-controls {
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 10;
}
