::ng-deep {
  .pdf-viewer-container {
    background: transparent !important;
  }

  #viewerContainer {
    background: transparent !important;
  }

  .pdfViewer {
    background: transparent !important;
  }
}
