::ng-deep {
  .pdf-viewer-container {
    background: transparent !important;
  }

  #viewerContainer {
    background: transparent !important;
    scroll-behavior: smooth !important;
  }

  .pdfViewer {
    background: transparent !important;
  }

  .page {
    transition: opacity 0.2s ease-in-out;
  }
}
