@if (pdfService.url) {
  <app-fullscreen
    [isFullscreen]="(pdfService.properties$ | async)?.fullscreen || false"
    (closeFullscreen)="pdfService.toggleFullscreen()">

    @if (!pdfService.pdfLoaded) {
      <app-inline-loader></app-inline-loader>
    }

    <div class="pdf-viewer-container">
      <ngx-extended-pdf-viewer
        #pdfViewer
        [src]="pdfService.url"
        [page]="(pdfService.currentPage$ | async) || 1"
        [(zoom)]="pdfService.pdfProperties.zoom"
        [(rotation)]="pdfService.pdfProperties.rotation"
        [showBorders]="false"
        [height]="'100%'"
        [scrollMode]="pdfService.pdfProperties.pageViewMode === 'multiple' ? 3 : 0"
        [pageViewMode]="pdfService.pdfProperties.pageViewMode"
        [spread]="'off'"
        [showToolbar]="false"
        [showSidebarButton]="false"
        [showFindButton]="false"
        [showPagingButtons]="false"
        [showZoomButtons]="false"
        [showPresentationModeButton]="false"
        [showOpenFileButton]="false"
        [showPrintButton]="false"
        [showDownloadButton]="false"
        [showBookModeButton]="false"
        [showSecondaryToolbarButton]="false"
        [showRotateButton]="false"
        [showHandToolButton]="false"
        [showScrollingButtons]="false"
        [showSpreadButton]="false"
        [showPropertiesButton]="false"
        [handTool]="!pdfService.pdfProperties.textLayerMode"
        [textLayer]="pdfService.pdfProperties.textLayerMode"
        [findbarVisible]="false"
        (updateFindState)="pdfService.updateFindState($event)"
        (updateFindMatchesCount)="pdfService.updateFindMatchesCount($event)"
        (outlineLoaded)="onOutlineLoaded($event)"
        (pdfLoaded)="onPdfLoaded($event)"
        (pageChange)="onPageChange($event)"
        (pagesLoaded)="onPagesLoaded($event)"
        (textLayerRendered)="onTextLayerRendered($event)"
        (wheel)="onWheel($event)"
      ></ngx-extended-pdf-viewer>

      @if (!(pdfService.properties$ | async)?.fullscreen) {
        <app-viewer-controls
          type="pdf"
          (zoomIn)="pdfService.zoomIn()"
          (zoomOut)="pdfService.zoomOut()"
          (toggleScrollMode)="pdfService.togglePageViewMode()"
          (rotate)="pdfService.toggleRotation()"
          (bookMode)="pdfService.bookModeToggle()"
          (toggleFitToScreen)="pdfService.fitToScreen()"
          (toggleFitToWidth)="pdfService.fitToWidth()"
          (toggleTextView)="onTextViewToggle()"
          (toggleFullscreen)="pdfService.toggleFullscreen()"
        ></app-viewer-controls>
      }

    </div>
  </app-fullscreen>
}
