@if (pdfService.url) {
  <ngx-extended-pdf-viewer
    #pdfViewer
    [src]="pdfService.url"
    [page]="(pdfService.currentPage$ | async) || 1"
    [(zoom)]="pdfService.pdfProperties.zoom"
    [(rotation)]="pdfService.pdfProperties.rotation"
    [pageViewMode]="pdfService.pdfProperties.pageViewMode"
    [showBorders]="false"
    [height]="'100%'"
    [scrollMode]="3"
    [spread]="'off'"
    [showToolbar]="false"
    [showSidebarButton]="false"
    [showFindButton]="false"
    [showPagingButtons]="false"
    [showZoomButtons]="false"
    [showPresentationModeButton]="false"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showDownloadButton]="false"
    [showBookModeButton]="false"
    [showSecondaryToolbarButton]="false"
    [showRotateButton]="false"
    [showHandToolButton]="false"
    [showScrollingButtons]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false"
    [handTool]="!pdfService.pdfProperties.textLayerMode"
    [textLayer]="pdfService.pdfProperties.textLayerMode"
    [findbarVisible]="false"
    (updateFindState)="pdfService.updateFindState($event)"
    (outlineLoaded)="onOutlineLoaded($event)"
    (pdfLoaded)="onPdfLoaded($event)"
    (pageChange)="onPageChange($event)"
    (pagesLoaded)="onPagesLoaded($event)"
  ></ngx-extended-pdf-viewer>

  <app-pdf-viewer-controls
    (zoomIn)="pdfService.zoomIn()"
    (zoomOut)="pdfService.zoomOut()"
    (toggleScrollMode)="pdfService.togglePageViewMode()"
    (rotate)="pdfService.toggleRotation()"
    (bookMode)="pdfService.bookModeToggle()"
    (toggleFitToScreen)="pdfService.fitToScreen()"
    (toggleTextView)="pdfService.toggleTextLayerMode()"
  ></app-pdf-viewer-controls>
}
