<div class="filter-group">
  <div class="group-content">
    <div class="filter-items">
      <advanced-search-filter-row
        *ngFor="let filter of filters; let i = index"
        [filter]="filter"
        (filterChange)="updateFilter(i, $event)"
        (remove)="removeFilter(i)"
        (addYearFilter)="addYearFilterRow()">
      </advanced-search-filter-row>
    </div>

    <div class="group-actions">
      <button class="button link primary with-icon" (click)="addFilter()">
        <i class="icon-add-square"></i>
        {{ 'next-condition-button-label' | translate }}
      </button>

      <button class="button link primary with-icon" *ngIf="advancedSearchService.pendingGroups().length > 1" (click)="removeGroup.emit()">
        <i class="icon-trash"></i>
        {{ 'remove-group-button-label' | translate }}
      </button>
    </div>
  </div>

  <div class="group-operator" *ngIf="advancedSearchService.filters().length > 1 || filters.length > 1">
    <button class="operator-toggle" (click)="toggleOperator()">
      {{ operator }}
    </button>
  </div>
</div>
