<!--<button>-->
<!--  <i class="icon-profile-delete"></i>-->
<!--</button>-->

<div class="actions">

  <button class="button tertiary outlined">
    <i class="icon-search-zoom-in"></i>
  </button>

  <button class="button tertiary outlined">
    <i class="icon-search-zoom-out"></i></button>

  <button class="button tertiary outlined">
    <i class="icon-maximize-3"></i>
  </button>

  <button class="button tertiary outlined">
    <i class="icon-pharagraphspacing"></i>
  </button>

  <button class="button tertiary outlined">
    <i class="icon-grid-lock"></i>
  </button>

  <button class="button tertiary outlined">
    <i class="icon-rotate-right"></i>
  </button>


</div>
