<div class="export-document--item" [class.collapsible]="collapsible" [class.expanded]="_expanded()">

  @if (title) {
  <div class="export-document--item--title" [class.clickable]="collapsible" (click)="collapsible && toggleExpanded()">

    @if (icon) {
    <i [class]="icon"></i>
    }

    <h3>{{title | translate}}</h3>

    @if (collapsible) {
    <button class="collapse-toggle" type="button" [attr.aria-expanded]="_expanded()" (click)="$event.stopPropagation(); toggleExpanded()">
      <i [class]="'icon-' + (_expanded() ? 'minus-square' : 'add-square')"></i>
    </button>
    }

  </div>
  }

  @if (options.length > 0) {
  <div class="export-document--item--content" [@expandCollapse]="_expanded() ? 'expanded' : 'collapsed'">
    <mat-radio-group class="radio-group" [(ngModel)]="selectedOption" [name]="groupName"
      (change)="onOptionChange($event)">
      <mat-radio-button *ngFor="let option of options" [disabled]="option.disabled" [value]="option.value" class="radio-button">
        {{ option.label | translate }}
      </mat-radio-button>
    </mat-radio-group>

    <button class="button primary small" [disabled]="!selectedOption || loading" (click)="onSubmit()">
      @if (loading) {
        <i class="icon-status spinning"></i>
        {{ 'probíhá' | translate }}
      } @else {
        {{ 'confirm' | translate }}
      }
    </button>
  </div>
  }

</div>
