.generic-dialog-container {

  .dialog-body {

    .content {
      padding: 0 24px 24px 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

.hierarchy-selector--container, .share-options--container {
  display: flex;
  gap: var(--spacing-x2);
}

.share-options--container {
  flex-wrap: wrap;
}

.button-icon {
  width: 18px;
}
