<div class="generic-dialog-container">
  <h2>
    {{ 'share-dialog--header' | translate }}
    <button class="button link tertiary icon-button close-button" (click)="onClose()">
      <i class="icon-x"></i>
    </button>
  </h2>

  <div class="dialog-body">

    <div class="content">

      <div class="hierarchy-selector--container">

        <app-document-hierarchy-selector
          [document]="document"
          (selectionChanged)="onHierarchySelectionChanged($event)">
        </app-document-hierarchy-selector>

      </div>

      {{currentShareUrl}}

      <div class="actions--container">

        <button class="link primary with-icon p-left-0" (click)="copyToClipboard()">
          <i class="icon-copy"></i>
          {{ 'copy' | translate }}
        </button>

      </div>

      <div class="share-options--container">

        <button class="with-icon outlined tertiary">

          <i class="icon-facebook"></i>

          {{ 'Facebook' | translate }}

        </button>

        <button class="with-icon outlined tertiary">

          <i class="fa-linkedin-square"></i>

          {{ 'LinkedIn' | translate }}

        </button>

        <button class="with-icon outlined tertiary">

          <i class="icon-x"></i>

          {{ 'platform-x' | translate }}

        </button>

      </div>

    </div>

  </div>

</div>
