.generic-dialog-container {
  max-height: 80vh;
  overflow: hidden;
  background-color: var(--color-bg-base);
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  h2 {
    padding: 20px 24px;
    margin-bottom: 0;
  }

  .close-button {
    font-size: 24px;
    padding: 5px;
  }

  .dialog-body {
    flex: 1;
    display: flex;
    overflow: hidden;
    min-height: 0;

    .content {
      flex: 3;
      overflow-y: auto;
      min-height: 0;
      padding: 0 24px 24px 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

.tab--content {
}

.citation-types--container, .share-options--container {
  display: flex;
  gap: var(--spacing-x2);
}
