<div class="section--row">

  <h3 class="section--row--title">Pismo</h3>

  <div class="toggle-buttons--container">

    <app-toggle-button-group [options]="textSizeOptions" [value]="accessibilityService.settings().textScale"
                             [label]="'zoom-interface-settings'" [showLabel]="true" (valueChange)="onTextScaleChange($event)" [size]="'lg'">
    </app-toggle-button-group>

  </div>

  <div class="settings-row">

    <mat-slide-toggle
      [checked]="accessibilityService.settings().dyslexiaFriendly" (change)="onDyslexiaFriendlyChange()"
      [hideIcon]="true"
      [class]="'size-sm'">
      {{ 'dyslexia-friendly-mode' | translate }}
    </mat-slide-toggle>

  </div>

</div>
