.selection-controls {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-base);
    border-radius: 12px;
    padding: 8px;
    gap: 8px;
    box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.08);

    button {
        width: 32px;
        height: 32px;
    }

    .btn-cancel {
        background-color: var(--color-error);
        color: #fff;
        border-color: transparent;

        &:hover {
            background-color: var(--color-error);
            opacity: 0.85;
        }
    }
}
