<div class="selection-controls">

  @if (showText) {
    <button (click)="onText()" class="button tertiary outlined"
      [attr.aria-label]="'selection-text--arialabel' | translate" [title]="'selection-text--arialabel' | translate">
      <i class="icon icon-text" aria-hidden="true"></i>
    </button>
  }

  @if (showExport) {
    <button (click)="onExport()" class="button tertiary outlined"
      [attr.aria-label]="'export' | translate" [title]="'export' | translate">
      <i class="icon icon-gallery-export" aria-hidden="true"></i>
    </button>
  }

  @if (showShare) {
    <button (click)="onShare()" class="button tertiary outlined"
      [attr.aria-label]="'selection-share--arialabel' | translate" [title]="'selection-share--arialabel' | translate">
      <i class="icon icon-send-2" aria-hidden="true"></i>
    </button>
  }

  <button (click)="onCancel()" class="button tertiary outlined btn-cancel"
    [attr.aria-label]="'selection-cancel--arialabel' | translate" [title]="'selection-cancel--arialabel' | translate">
    <i class="icon icon-close" aria-hidden="true"></i>
  </button>

</div>
