<div class="selection-controls">
    <button *ngIf="showText" (click)="onText()" class="button tertiary outlined" title="Text">
        <i class="icon icon-text"></i>
    </button>

    <button *ngIf="showExport" (click)="onExport()" class="button tertiary outlined" title="Export">
        <i class="icon icon-export-1"></i>
    </button>

    <button *ngIf="showShare" (click)="onShare()" class="button tertiary outlined" title="Share">
        <i class="icon icon-send-2"></i>
    </button>
</div>
