<div class="selection-controls">

    <button *ngIf="showText" (click)="onText()" class="button tertiary outlined" title="Text">
        <i class="icon icon-text"></i>
    </button>

    <button *ngIf="showExport" (click)="onExport()" class="button tertiary outlined" title="Export">
        <i class="icon icon-gallery-export"></i>
    </button>

    <button *ngIf="showShare" (click)="onShare()" class="button tertiary outlined" title="Share">
        <i class="icon icon-send-2"></i>
    </button>

  <button (click)="onCancel()" class="button tertiary outlined btn-cancel" title="Cancel">
    <i class="icon icon-close"></i>
  </button>

</div>
