<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumbs__list">
    @for (breadcrumb of displayBreadcrumbs; track breadcrumb.url; let i = $index) {
      <li [class]="getBreadcrumbClasses(breadcrumb, i).join(' ')">

        @if (breadcrumb.clickable !== false) {
          <a
            [href]="breadcrumb.url"
            class="breadcrumb-link"
            (click)="onBreadcrumbClick(breadcrumb, $event)"
            [attr.aria-current]="i === displayBreadcrumbs.length - 1 ? 'page' : null">

            @if (breadcrumb.icon) {
              <i [class]="breadcrumb.icon"></i>
            }

            <span class="breadcrumb-label">
              @if (breadcrumb.translationKey) {
                {{ breadcrumb.translationKey | translate }}
              } @else {
                {{ breadcrumb.label }}
              }
            </span>
          </a>
        } @else {
          <span class="breadcrumb-text">
            @if (breadcrumb.icon) {
              <i [class]="breadcrumb.icon"></i>
            }

            <span class="breadcrumb-label">
              @if (breadcrumb.translationKey) {
                {{ breadcrumb.translationKey | translate }}
              } @else {
                {{ breadcrumb.label }}
              }
            </span>
          </span>
        }

        @if (shouldShowSeparator(i)) {
          <span class="breadcrumb-separator" aria-hidden="true">
            <i class="icon-arrow-right-1"></i>
          </span>
        }
      </li>
    }
  </ol>
</nav>
