  <td class="index-col">
    @if (isPlaying) {
      <i class="icon-volume-high"></i>
    } @else {
      {{ index + 1 }}
    }
  </td>
  <td>
    <div class="title" [class.folder-view]="isFolderView">
      <ng-container *ngIf="isPlaying; else notPlaying">
        <span class="icon icon--playing"></span>
      </ng-container>
      <ng-template #notPlaying>
        <span class="icon icon--track"></span>
      </ng-template>

      @if (isFolderView) {
        <div class="track-info-wrapper">
          <div class="track-cover" [style.backgroundImage]="'url(' + musicService.getCoverImageForTrack(track.parentPid) + ')'"></div>
          <div class="track-text-content">
            <div class="track-title">
              <a class="track-link" [class.active]="isSelected">{{ track['title.search'] }}</a>
            </div>
            <div class="track-meta">
              @if (primaryAuthor || trackYear) {
                <span class="track-author-year">
                  @if (primaryAuthor) {
                    {{ primaryAuthor }}
                  }
                  @if (primaryAuthor && trackYear) {
                    ·
                  }
                  @if (trackYear) {
                    {{ trackYear }}
                  }

                  <span class="page-ref"> · {{'page' | translate}} {{track.part}}</span>

                </span>
              }
            </div>
          </div>
        </div>
      } @else {
        <a class="track-link" [class.active]="isSelected">{{ track['title.search'] }}</a>
        <span class="page-ref"> · {{'page' | translate}} {{track.part}}</span>
      }
    </div>
  </td>
  <td class="duration duration-col">{{ duration }}</td>
  <td class="actions actions-col">
    <button class="icon-button rounded light" (click)="addToQueue(); $event.stopPropagation()" [title]="'add-to-queue' | translate">
      <i class="icon icon-additem"></i>
    </button>
    @if (showRemoveButton) {
      <button class="icon-button rounded light" (click)="remove(); $event.stopPropagation()" [title]="'remove-from-list' | translate">
        <i class="icon icon-trash"></i>
      </button>
    } @else {
      <button class="icon-button rounded light"
              (click)="toggleFavorite($event); $event.stopPropagation()" [class.favorited]="isFavorited$ | async" [title]="'save-to-list' | translate">
        <i [ngClass]="(isFavorited$ | async) ? 'icon-heart-filled' : 'icon-heart'"></i>
      </button>
    }
    <button class="icon-button rounded light" (click)="download(); $event.stopPropagation()">
      <i class="icon icon-download"></i>
    </button>
  </td>
