:host:not(:last-child) {
  border-bottom: 1px solid var(--color-border-light);
  transition: background 0.2s;
}

:host:hover {
  background: var(--color-secondary-hover);
  cursor: pointer;
}

:host.playing {
  color: var(--color-primary);

  td .title {
    color: var(--color-primary);
  }

  .page-ref {
    color: var(--color-primary);
  }
}

td {
    vertical-align: middle;
    padding: var(--spacing-x2) var(--spacing-x4);
    border-bottom: 1px solid var(--color-border);
  font-size: var(--font-size-base);
    line-height: 20px;
  }

  .title {
    display: flex;
    align-items: center;
    gap: var(--spacing-x2);
    color: var(--color-text-base);

    &.folder-view {
      align-items: flex-start;
    }
  }

  .track-info-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-x2);
  }

  .track-cover {
    width: 36px;
    height: 36px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-sm);
    flex-shrink: 0;
    background-color: var(--color-bg-secondary);
  }

  .track-text-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x1);
    flex: 1;
  }

  .track-title {
    line-height: 1.2;
  }

  .track-meta {
    font-size: 0.85em;
    color: var(--color-text-tertiary);
    line-height: 1;
  }

  .track-author-year {
    color: var(--color-text-secondary);
  }

  .track-link {
    color: var(--color-text);
    text-decoration: none;

    &.active {
      font-weight: bold;
      color: var(--color-primary);
    }
  }

  .page-ref {
    color: var(--color-text-tertiary)
  }

  .duration {
    white-space: nowrap;
  }

  .actions {
    display: flex;
    gap: var(--spacing-x2);
    //justify-content: flex-end;
  }

  .icon-button.favorited {
    color: var(--color-primary);
  }
