<div class="page-container">
  <div class="page-container__inner">

    <app-filter-sidebar>
      <app-saved-lists-filters></app-saved-lists-filters>
    </app-filter-sidebar>

    <div class="page-content">

      <div class="page-content__filters">
        <app-action-toolbar>
          <div left>
          </div>

          <div right>
            <app-toggle-button-group
              [options]="viewOptions"
              [value]="view()"
              (valueChange)="setView($event)"
            />
          </div>
        </app-action-toolbar>
      </div>

      <div class="page-content__wrapper">

      </div>

    </div>
  </div>
</div>
