// xs screen < 408px one single row as card
@media (max-width: 408px) {
  .record-item-card {
    height: 140px;

    .record-item-card__inner {
      flex-direction: row; // Horizontal layout
      gap: var(--spacing-x3);
      padding: var(--spacing-x3);
    }

    .record-item-card__image {
      // Fixed width for mobile, height auto
      aspect-ratio: 100/152;
      height: 100%;
      flex-shrink: 0;
    }

    .record-item-card__content {
      height: auto; // Auto height in mobile
      flex: 1; // Take remaining width
      gap: var(--spacing-x1);

      .title {
        font-size: var(--font-size-base);
        line-height: 20px;
        -webkit-line-clamp: 3;
      }

      .subtitle {
        font-size: var(--font-size-small);
        line-height: 1.1;
        -webkit-line-clamp: 2;
      }

      .authors {
        font-size: 12px;
      }
    }

    &.with-badge {

      .access-label {
        position: absolute; // Remove absolute positioning
        right: var(--spacing-x3);
        bottom: var(--spacing-x3);
        left: auto;
      }

    }

  }
}
