<a class="record-item-card"
   [class.page]="record.model === DocumentTypeEnum.page"
   [class.periodical]="record.model === DocumentTypeEnum.periodical"
   [href]="recordHandler.getHandleDocumentUrlByModelAndPid(record.model, record.pid)"
   (click)="recordHandler.onNavigate($event, recordHandler.getHandleDocumentUrlByModelAndPid(record.model, record.pid))"
>

  <div class="record-item-card__inner">

    <div class="record-item-card__image"
         [style.background-image] = "`url(${getImageThumbnailUrl()})`"
    >

      @if (record.model !== DocumentTypeEnum.page) {
        <span class="badge model">{{ record.model | translate }}</span>
      }

      @if (recordHandler.isRecordLocked(record.containsLicenses || record.licenses || [])) {
        <div class="record-item-card__image-lock-overlay">

          <button class="button secondary rounded icon-button">

            <i class="icon-lock-1"></i>

          </button>

        </div>
      }

    </div>

    <div class="record-item-card__content">

      <div class="title" [title]="getTitle()">
        {{ getTitle() }}
      </div>

      <div class="subtitle" *ngIf="record.authors?.length || record.date">

        {{getSubtitle()}}

        <span class="authors">
          {{ record.authors?.join(', ') }}<span class="date" *ngIf="record.date">{{ record.authors?.length ? ', ' : '' }}{{ record.date }}</span>
        </span>
      </div>

      @if (record.model === DocumentTypeEnum.page) {

          @for (text of record.highlighting; track $index) {

            <div class="text-ocr" [innerHTML]="text"></div>

          }

      }

      @if (recordHandler.isRecordLocked(record.containsLicenses || record.licenses || [])) {

        <div class="access-label">
          <app-accessibility-badge [isLocked]="recordHandler.isRecordLocked(record.containsLicenses || record.licenses || [])"></app-accessibility-badge>
        </div>

      }

    </div>

  </div>

</a>
