<section>
  <div class="section-header">
    <h2>{{ 'periodical' | translate }}</h2>
    <a class="show-all" (click)="showMore()">{{'btn_show_more' | translate}} →</a>
  </div>

  <div class="carousel-wrapper">
    <app-carousel *ngIf="periodicals$ | async as periodicals" [edgeToEdge]="true">

        <ng-container *ngFor="let item of periodicals">

          <app-record-item
            [record]="item"
          >
          </app-record-item>

        </ng-container>

    </app-carousel>
  </div>

</section>
