<div class="data" *ngIf="data">

  <!-- Title -->
  @if (showTitle) {
  <section *ngIf="data.mainTitle || hasValidTitles">
    <h2>{{ data.mainTitle || data.titles[0].title }}</h2>
    <app-collapsible-content *ngIf="data.titles.length > 1" [collapsible]="true" [maxLines]="4"
      [contentKey]="data.titles.length">
      <div class="titles--container" *ngFor="let title of data.titles">
        <span>{{ title.title }}</span>
        <span *ngIf="title.subTitle">: {{ title.subTitle }}</span>
      </div>
    </app-collapsible-content>
  </section>
  }

  <!-- ISBN (standalone) -->
  <app-metadata-section-item *ngIf="getIsbn()" [label]="'ISBN' | translate" type="text" [value]="getIsbn()!">
  </app-metadata-section-item>

  <!-- Authors -->
  <app-metadata-section-item *ngIf="data.authors.length" [label]="'author' | translate" type="clickable-list"
    [collapsible]="true" [items]="data.authors" [displayFn]="getAuthorName" [onItemClick]="clickedAuthor">
  </app-metadata-section-item>

  <!-- Publishers -->
  <app-metadata-section-item *ngIf="data.publishers.length" [label]="'publisher-data' | translate" type="list"
    [collapsible]="true" [items]="data.publishers" [displayFn]="getPublisherFullDetail">
  </app-metadata-section-item>

  <!-- Document Type -->
  <app-metadata-section-item *ngIf="data.model" [label]="'model' | translate" type="badge" [value]="data.model"
    [onItemClick]="clickedDocumentType">
  </app-metadata-section-item>

  <!-- Accessibility -->
  <app-metadata-section-item [label]="'accessibility' | translate" type="badge" [onItemClick]="clickedAccessibility">

    <div class="flex flex--gap-x2" metadata-section-item-content>

      <app-accessibility-badge [isLocked]="!isPublic" [licenses]="data.licences || []"></app-accessibility-badge>
      <app-license-badge [license]="data.licence"></app-license-badge>

    </div>

  </app-metadata-section-item>

  <!-- Donators -->
  @if (data.donators?.length) {
  <div class="donators">
    @for (donator of data.donators; track donator) {
      @if (getDonatorImage(donator); as imgSrc) {
        @if (getDonatorUrl(donator); as url) {
          <a [href]="url" target="_blank" rel="noopener noreferrer">
            <img [src]="imgSrc" [alt]="donator" class="donator-logo" />
          </a>
        } @else {
          <img [src]="imgSrc" [alt]="donator" class="donator-logo" />
        }
      }
    }
  </div>
  }

  <!--  @for (license of runtimeLicenses(); track license) {-->
  <!--  {{license}}-->
  <!--  }-->

  <!-- Languages -->
  <app-metadata-section-item *ngIf="data.languages.length" [label]="'languages' | translate" type="clickable-list"
    [items]="data.languages" [onItemClick]="clickedLanguage">
  </app-metadata-section-item>

  <app-metadata-section-item *ngIf="data.locations.length" [label]="'locations' | translate" type="clickable-list"
    [items]="data.locations" [displayFn]="getLocationLabel" [showListBullets]="true" [disableTranslate]="true"
    [onItemClick]="clickedLocation">
  </app-metadata-section-item>

  <app-metadata-section-item *ngIf="data.geonames.length" [label]="'geonames' | translate" type="clickable-list"
    [items]="data.geonames" [showListBullets]="true" [disableTranslate]="true" [onItemClick]="clickedGeoName">
  </app-metadata-section-item>

  <!-- Abstracts -->
  <app-metadata-section-item *ngIf="data.abstracts.length" [label]="'abstract' | translate" type="list"
    [items]="data.abstracts">
  </app-metadata-section-item>

  <!-- Genres -->
  <app-metadata-section-item *ngIf="data.genres.length" [label]="'genres' | translate" type="clickable-list"
    [items]="data.genres" [onItemClick]="clickedGenre">
  </app-metadata-section-item>

  <app-metadata-section-item *ngIf="data.inCollections.length" [label]="'collections' | translate" type="clickable-list"
    [items]="data.inCollections" [showListBullets]="true" [disableTranslate]="true" [displayFn]="getCollectionName"
    [onItemClick]="clickedCollection">
  </app-metadata-section-item>

  @if (childData) {
  <div class="article-card">
    <div class="article-header">
      @if (childData.titles && childData.titles.length > 0) {
      <span class="label">{{ childData.titles[0].title }}</span>
      }
      <button class="toggle-btn" (click)="toggleChild()">
        <i [class]="childExpanded() ? 'icon-minus-square' : 'icon-add-square'"></i>
      </button>
    </div>

    <div class="article-details" *ngIf="childExpanded()">

      <!-- Date -->
      <app-metadata-section-item *ngIf="childData.dateStr" [label]="'date' | translate" type="text"
        [value]="childData.dateStr">
      </app-metadata-section-item>

      <!-- Authors -->
      <app-metadata-section-item *ngIf="childData.authors.length" [label]="'author' | translate" type="clickable-list"
        [items]="childData.authors" [displayFn]="getAuthorName" [onItemClick]="clickedAuthor">
      </app-metadata-section-item>

      <!-- Languages -->
      <app-metadata-section-item *ngIf="childData.languages.length" [label]="'languages' | translate"
        type="clickable-list" [items]="childData.languages" [onItemClick]="clickedLanguage">
      </app-metadata-section-item>

      <!-- Locations -->
      <app-metadata-section-item *ngIf="childData.locations.length" [label]="'locations' | translate"
        type="clickable-list" [items]="childData.locations" [displayFn]="getLocationLabel" [showListBullets]="true"
        [disableTranslate]="true" [onItemClick]="clickedLocation">
      </app-metadata-section-item>

      <!-- Notes -->
      <app-metadata-section-item *ngIf="childData.notes.length" [label]="'notes' | translate" type="list"
        [items]="getNotes(childData.notes)">
      </app-metadata-section-item>

    </div>
  </div>
  }

  @if (articleData) {
  <div class="article-card">
    <div class="article-header">
      <span class="label">{{ 'article' | translate }}</span>
      <button class="toggle-btn" (click)="toggleArticle()">
        <i [class]="articleExpanded() ? 'icon-minus-square' : 'icon-add-square'"></i>
      </button>
    </div>

    <div class="article-title">
      <a [routerLink]="articleViewLink" [queryParams]="{article: articleData.uuid}">
        {{ articleData.titles[0]?.title }}
      </a>
    </div>

    <div class="article-details" *ngIf="articleExpanded()">


      <!-- Authors -->
      <div class="row" *ngIf="articleData.authors.length">
        <app-metadata-section-item [label]="'author' | translate" type="clickable-list" [items]="articleData.authors"
          [displayFn]="getAuthorName" [onItemClick]="clickedAuthor">
        </app-metadata-section-item>
      </div>


      <!-- DOI -->
      <div class="detail-item" *ngIf="articleData.identifiers['doi']">
        <span class="detail-label">DOI</span>
        <div class="detail-value">
          <a [href]="'https://doi.org/' + articleData.identifiers['doi']" target="_blank">
            https://doi.org/{{ articleData.identifiers['doi'] }}
          </a>
          <i class="icon-copy" title="Copy"></i>
        </div>
      </div>

      <!-- Language -->
      <app-metadata-section-item *ngIf="articleData.languages.length" [label]="'languages' | translate"
        type="clickable-list" [items]="articleData.languages" [onItemClick]="clickedLanguage">
      </app-metadata-section-item>

      <app-metadata-section-item *ngIf="articleData.extent" [label]="'range--label' | translate" type="text"
        [value]="articleData.extent">
      </app-metadata-section-item>

      <!--      &lt;!&ndash; Physical Description &ndash;&gt;-->
      <!--      <app-metadata-section-item *ngIf="articleData.physicalDescriptions.length" [label]="'extent' | translate"-->
      <!--        type="list" [items]="articleData.physicalDescriptions" [displayFn]="getPhysicalDescription">-->
      <!--      </app-metadata-section-item>-->

    </div>
  </div>
  }

  <!-- Keywords -->
  <app-metadata-section-item *ngIf="data.keywords.length" [label]="'keywords' | translate" [showListBullets]="true" [collapsible]="true"
    type="clickable-list" [items]="data.keywords" [onItemClick]="clickedKeyword">
  </app-metadata-section-item>

  <!-- Subject Names (Personal) -->
  <app-metadata-section-item *ngIf="data.subjectNamesPersonal.length" [label]="'subject-names-personal' | translate"
    type="clickable-list" [items]="data.subjectNamesPersonal" [displayFn]="getAuthorName"
    [onItemClick]="clickedSubjectNamePersonal">
  </app-metadata-section-item>

  <!-- Subject Names (Corporate) -->
  <app-metadata-section-item *ngIf="data.subjectNamesCorporate.length" [label]="'subject-names-corporate' | translate"
    type="clickable-list" [items]="data.subjectNamesCorporate" [displayFn]="getAuthorName"
    [onItemClick]="clickedSubjectNameCorporate">
  </app-metadata-section-item>

  <!-- Subject Temporals -->
  <app-metadata-section-item *ngIf="data.subjectTemporals.length" [label]="'subject-temporals' | translate"
    type="clickable-list" [items]="data.subjectTemporals" [onItemClick]="clickedSubjectTemporal">
  </app-metadata-section-item>

  <!-- Physical Description -->
  <app-metadata-section-item *ngIf="data.physicalDescriptions.length" [label]="'physical-description' | translate" [collapsible]="true"
    type="list" [items]="data.physicalDescriptions" [displayFn]="getPhysicalDescription">
  </app-metadata-section-item>

  <app-metadata-section-item *ngIf="data.contents.length" [label]="'content' | translate" [collapsible]="true"
    type="list" [items]="data.contents">
  </app-metadata-section-item>

  <!-- Cartographic Data -->
  <section *ngIf="data.cartographicData.length">
    <h3>{{ 'cartographic-data' | translate }}</h3>
    <ul>
      <li *ngFor="let cart of data.cartographicData">
        <span *ngIf="cart.scale">{{ 'scale' | translate }}{{ cart.scale }}</span>
        <span *ngIf="cart.coordinates">{{ 'coordinates' | translate }}{{ cart.coordinates }}</span>
      </li>
    </ul>
  </section>

  <!-- Other Identifiers (excluding ISBN) -->
  <app-metadata-section-item *ngIf="getIdentifiersWithoutIsbn()" [label]="'identifiers' | translate"
    [listKeyUppercase]="true" type="key-value" [keyValuePairs]="getIdentifiersWithoutIsbn()">
  </app-metadata-section-item>

  <!-- Notes -->
  <app-metadata-section-item *ngIf="data.notes.length" [label]="'notes' | translate" type="list" [collapsible]="true"
    [items]="getNotes(data.notes)">
  </app-metadata-section-item>

  <div class="metadata--actions">
    <button class="primary link with-icon p-left-0" (click)="openMetadataDialog()">
      <i class="icon-code-3"></i>
      Metadata
    </button>
  </div>

</div>
