.search-results-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x3);
}

.search-result-item {
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: var(--spacing-x2);
  border-radius: var(--Spacing-x2, 8px);
  width: 100%;

  &:not(.with-content) {
    gap: 0;
  }

  app-detail-page-item {
    flex-shrink: 0;
    height: 104px;
    width: 69px;
    overflow: hidden;
  }

  &:hover {
    border: 1px solid var(--color-primary);
    background: var(--color-bg-base);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  }

  &.active {
    border-width: 2px;
    border-color: var(--color-primary);
  }
}

.search-result-item--content {
  flex: 1;
  overflow: hidden;
  align-self: stretch;
}

.highlighted-text {
  font-size: var(--font-size-small);
  color: var(--color-text-base);
  line-height: var(--line-height-1);
  overflow: hidden;
}

.no-content--placeholder {
  background-color: var(--color-bg-light);
  border-radius: var(--spacing-x1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--icon-grey);
}

.no-content-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-border-contrast);
  border-radius: 50%;
  font-size: var(--font-size-xxlarge);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-border-contrast);
    transform: rotate(-45deg);
  }
}

.no-results {
  padding: 1rem;
  text-align: center;
  opacity: 0.5;
}
