<ng-container [ngSwitch]="activeSection()">

  <ng-container *ngSwitchCase="'display'">
    <app-settings-display-section [settings]="settings"
      (settingsChange)="settingsChange.emit($event)"></app-settings-display-section>
  </ng-container>

  <ng-container *ngSwitchCase="'account'">
    <app-settings-account-section>
    </app-settings-account-section>
  </ng-container>

  <ng-container *ngSwitchCase="'reading'">
    <app-settings-read-section></app-settings-read-section>
  </ng-container>

  <ng-container *ngSwitchCase="'preferences'">
    <app-settings-user-preferences-section></app-settings-user-preferences-section>
  </ng-container>

  <ng-container *ngSwitchCase="'accessibility'">
    <app-settings-accessibility-section></app-settings-accessibility-section>
  </ng-container>

  <ng-container *ngSwitchCase="'experimental'">
    <app-settings-experimental-section></app-settings-experimental-section>
  </ng-container>

  <ng-container *ngSwitchCase="'gdpr'">
    <app-settings-gdpr-section></app-settings-gdpr-section>
  </ng-container>

</ng-container>