:host {
  display: flex;
  height: 100%;
  min-height: 0;
  width: 100%;
}

.add-license-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x4);
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
}
