<section>
  <div class="section-header">
    <h2>{{ 'model_2p.monograph' | translate | titlecase }}</h2>
    <a href="#" class="show-all">{{'filters.btn_show_more' | translate}} →</a>
  </div>

  <div class="carousel-wrapper">
    <app-carousel *ngIf="books$ | async as books" [edgeToEdge]="true">
      <app-item-card
        *ngFor="let item of books"
        [uuid]="item.uuid"
        [title]="item.title"
        [subtitle]="item.year"
        [link]="'/detail/' + item.title"
      ></app-item-card>
    </app-carousel>
  </div>

</section>
