<section>
  <div class="section-header">
    <h2>{{ 'books-section--header' | translate | titlecase }}</h2>
    <button class="show-all with-icon p-right-0" (click)="showMore()">
      <span class="text">{{'btn_show_more' | translate}}</span>
      <i class="icon-arrow-right-3"></i>
    </button>
  </div>

  <div class="carousel-wrapper">
    <div class="carousel-container">
      <app-carousel [attr.data-loading]="(loading$ | async)" [edgeToEdge]="true" [actionsPosition]="'top'">
        <ng-container *ngFor="let item of (books$ | async) | skeletonList:50:(loading$ | async)">
          <app-record-item [showModel]="false" [item]="item ? toRecordItem(item) : undefined" layout="vertical"></app-record-item>
        </ng-container>
      </app-carousel>
    </div>
  </div>
</section>
