.date-picker--container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x2);
}

.more-section--inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: var(--spacing-x3);
  width: 100%;

  app-input-date {
    flex: 1;
    min-width: 0;
  }
}

.offset-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .selected {
    border-color: var(--color-primary);
  }

  button {
    padding: var(--spacing-x1) var(--spacing-x2);
  }
}
