<div class="date-picker--container">

  <app-input-date
    [valueSignal]="fromDate"
    (valueChange)="onFromDateInput($event)"
    [label]="'DD.MM.YYYY'"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [size]="'lg'"
    [theme]="'dark'"
    [postfixIcon]="'icon-calendar'"
  ></app-input-date>

  <div class="offset-buttons">

    <button class="outlined tertiary sm" (click)="onOffsetClick(1)">
      +1 day
    </button>

    <button class="outlined tertiary sm" (click)="onOffsetClick(3)">
      +3 days
    </button>

    <button class="outlined tertiary sm" (click)="onOffsetClick(7)">
      +week
    </button>

    <button class="outlined tertiary sm" (click)="openedMore = !openedMore">
      + {{openedMore ? 'hide' : 'more'}}
    </button>

  </div>

  @if (openedMore) {
    <div class="more-section--inputs">

      <app-input-date
        [valueSignal]="fromDate"
        (valueChange)="onFromDateInput($event)"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [label]="'DD.MM.YYYY'"
        [size]="'lg'"
        [theme]="'dark'"
        [postfixIcon]="'icon-calendar'"
      ></app-input-date>

      -

      <app-input-date
        [valueSignal]="toDate"
        (valueChange)="onToDateInput($event)"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [label]="'DD.MM.YYYY'"
        [size]="'lg'"
        [theme]="'dark'"
        [postfixIcon]="'icon-calendar'"
      ></app-input-date>

    </div>

  }


</div>
