<div class="admin-actions flex" [class.compact]="compact">

  <button
    class="button primary with-icon"
    (click)="onEditSelected()"
    [disabled]="!adminSelectionService.hasSelection()"
    [title]="'edit-selected' | translate">
    <span>{{ 'edit-selected--admin' | translate }}</span>
    <i class="icon-edit-2"></i>
  </button>

  <!-- Export Selected -->
  <button
    class="button outlined tertiary"
    (click)="onExportSelected()"
    [disabled]="!adminSelectionService.hasSelection()"
    [title]="'export' | translate">
    <span>{{ 'export' | translate }}</span>
    <i class="icon-arrow-right"></i>
  </button>

  <button class="button outlined tertiary m-left-auto"
          *ngIf="compact"
          (click)="adminSelectionService.toggleAdminMode()"
  >
    <i class="icon-x"></i>
  </button>

  <!-- Select All -->
  <button
    class="button transparent tertiary with-icon"
    (click)="onSelectAll()"
    [disabled]="adminSelectionService.isAllVisibleSelected()"
    [title]="'select-all' | translate">
    <i class="icon-copy-success"></i>
    <span>{{ 'select-all' | translate }}</span>
  </button>

  <!-- Deselect All -->
  <button
    class="button transparent tertiary with-icon"
    (click)="onDeselectAll()"
    [disabled]="!adminSelectionService.hasSelection()"
    [title]="'deselect-all' | translate">
    <i class="icon-close-square"></i>
    <span>{{ 'deselect-all' | translate }}</span>
  </button>

</div>
