<div class="search-results-page">
	<div class="search-results-page--inner">

    <app-filter-sidebar>
      <app-periodical-filters></app-periodical-filters>
    </app-filter-sidebar>

		<div class="results-content">

      <app-action-toolbar>

        <div left>

          <button class="icon-button button link primary" (click)="goBackClicked()">
            <i class="icon-arrow-left"></i>
          </button>

          <h2>{{ (document$ | async)?.['root.title'] }}</h2>

        </div>

        <div center *ngIf="selectedYear() as year">
          <button (click)="goToPreviousYear()">
            <i class="icon-arrow-left"></i>
          </button>
          <h2>{{ year }}</h2>
          <button (click)="goToNextYear()">
            <i class="icon-arrow-right"></i>
          </button>
        </div>

        <div right>

          <div class="view-toggle">
            <button (click)="showCalendarView()">Kalendár</button>
            <button (click)="showGridView()">Mriežka</button>
          </div>

        </div>

      </app-action-toolbar>

			<div *ngIf="loading$ | async">Načítavam...</div>
			<div *ngIf="error$ | async as error">Chyba: {{ error }}</div>

      <app-periodical-years-timeline
        *ngIf="viewMode() === ViewMode.Timeline"
        [years]="periodicalYears"
        (selectYear)="onSelectYear($event)">
      </app-periodical-years-timeline>

      <app-periodical-years-grid
        *ngIf="viewMode() === ViewMode.GridYears"
        [years]="periodicalYears"
        (selectYear)="onSelectYear($event)">
      </app-periodical-years-grid>

      <app-periodical-year-issues-calendar
        *ngIf="viewMode() === ViewMode.Calendar"
        [year]="selectedYear() || ''"
        [pid]="getSelectedPid() || ''">
      </app-periodical-year-issues-calendar>

      <app-periodical-year-issues-grid
        *ngIf="viewMode() === ViewMode.GridIssues"
        [year]="selectedYear() || ''"
        [pid]="getSelectedPid() || ''">
      </app-periodical-year-issues-grid>

		</div>

	</div>
</div>
